/* Fontes importadas do (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Baloo+2:wght@400;500;600;700;800&family=Cairo+Play:wght@200;300;400;500;600;700;800;900;1000&family=Dancing+Script:wght@400;500;600;700&display=swap');

/* Estilo aplicado a tudo */
* {
    box-sizing: border-box;
}

/* Estilo para a seção com sombra interna (inset) */

/* Estilo para o HTML e o corpo da página */
html, body {
    margin: 0; /* Remove margens padrão do corpo e do HTML */
    background-image: url("../img/backgrounds/fundo-oficial.jpg"); /* Define a imagem de fundo */
    background-attachment: fixed; /* Fixa a imagem de fundo para que ela não role com a página */
    background-position: center; /* Centraliza a posição da imagem de fundo */
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo com uma certa transparência */
    position: relative; /* Define a posição como relativa para o corpo */
    animation: animateBackground 30s linear infinite; /* Aplica uma animação de fundo com duração de 30s */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve ao redor do corpo */
    transition: opacity 1.3s ease-in-out; /* Transição suave para a propriedade de opacidade */
    cursor: url("../img/icons/cursor.png"), auto; /* Define o cursor personalizado */
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}

/* Pseudo-elemento antes do corpo da página */
body::before {
    content: ""; /* Adiciona conteúdo vazio ao pseudo-elemento */
    position: absolute; /* Define a posição absoluta em relação ao elemento pai */
    top: 0; /* Posiciona o topo no início do elemento pai */
    left: 0; /* Posiciona a esquerda no início do elemento pai */
    width: 100%; /* Ocupa toda a largura do elemento pai */
    height: 100%; /* Ocupa toda a altura do elemento pai */
}

/* Estilo para texto dentro de todas as tags <b> na página */
b {
    background: #777cff; /* Cor de fundo para o texto */
    -webkit-background-clip: text; /* Aplica o degradê apenas ao texto */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para exibir o degradê */
}


.pet {
    position: fixed;
    opacity: 0.5;
    bottom: 10px;
    right: 10px;
    width: 3.5rem;
    z-index: 1000;
    height: 3.5rem;
    background-image: url('../img/icons/aleph-link.png');
    background-size: cover;
    animation: petAnimation 2s infinite alternate;
}

@keyframes petAnimation {
    0% {
        transform: scale(1);
        
    }
    100% {
        transform: scale(1.3);
        opacity: 1;
    }
}


/* Estilo para a classe "faísca" (fumaça) */
.faísca {
    position: absolute; /* Posicionamento absoluto em relação ao elemento pai */
    background-color: #8841ff; /* Cor de fundo da fumaça */
    border-radius: 50%; /* Borda circular para criar uma forma de círculo */
    opacity: 0.7; /* Opacidade para dar um efeito de fumaça */
}

/* Estilo para a classe "efeito" */
.efeito {
    position: absolute; /* Posicionamento absoluto em relação ao elemento pai */
    background-color: #c1cbff; /* Cor de fundo do efeito em laranja com opacidade */
    border-radius: 50%; /* Borda circular para criar uma forma de círculo */
    opacity: 0.7; /* Opacidade para dar um efeito ao elemento */
    pointer-events: none; /* Evita que o elemento receba cliques e interfira nos elementos subjacentes */
    transform-origin: center; /* Ponto de origem da transformação no centro do elemento */
}

/* Estilo para o seletor de classe "body" */
.body {
    margin: 0 auto; /* Define a margem superior e inferior como 0 e as laterais como automáticas */
    width: 100%; /* Define a largura total do site como 100% */
}

/* Estilo para a barra de navegação (navbar) */
.nav-bar {
    background: #ffffff; /* Cor de fundo da barra de navegação */
    display: flex; /* Alinha os itens na horizontal */
    height: 100px; /* Altura da barra de navegação */
    position: fixed; /* Posicionamento fixo, não se move ao rolar a página */
    margin-bottom: -5%; /* Distância para baixo */
    margin-top: -4.7%; /* Distância do topo */
    z-index: 20; /* Ordem de sobreposição em relação a outros elementos */
    width: 100%; /* Largura da barra de navegação */
    align-items: center; /* Alinha os itens ao centro */
    justify-content: space-between; /* Distribui o espaço igualmente entre os itens */
    box-shadow: 1px 1px 50px 1px #0b062d; /* Sombra na barra de navegação */
}


/* Estilo para o título da barra de navegação */
.nav-title {
    font-size: 3.75rem; /* Tamanho da fonte para o título */
    justify-content: center;
    align-items: center;
    margin-left: 10%; /* Margem à esquerda */
    width: 30%; /* Largura do título */
    font-family: 'Dancing Script', cursive; /* Fonte do título */
    margin: 1.25rem 3.125rem 1.25rem 6.25rem; /* Margens do título */
    background: #0b062d; /* Cor de fundo do título */
    -webkit-background-clip: text; /* Aplica o fundo apenas ao texto */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o fundo */
    white-space: nowrap;
    animation: typing 6s linear 0s forwards; /* Adiciona uma animação chamada 'typing' com duração de 4 segundos, início linear após 1 segundo e retenção do estado final */
}


/* Estilo para a barra de ícones */
.icons-bar {
    margin-right: 6.25rem; /* Margem à direita */
}

/* Estilo para as imagens na barra de ícones */
.img-bar {
    width: 3.0rem; /* Largura das imagens */
    height: 3.0rem; /* Altura das imagens */
    margin: 0.5rem; /* Margem das imagens */
    transition: 0.4s ease-in-out; /* Transição suave */
    animation: appear-right 3s ease; /* aplica a animação de aparecer da direita com duração de 0.5 segundos */
    animation-fill-mode: forwards;
    opacity: 0;
}

/* Efeito ao passar o mouse nas imagens da barra de ícones */
.img-bar:hover {
    width: 3.3rem; /* Aumenta a largura ao passar o mouse */
    height: 3.3rem; /* Aumenta a altura ao passar o mouse */
    margin: 0.625rem; /* Aumenta a margem ao passar o mouse */
    transition: 0.2s; /* Transição mais curta */
    transform: translateX(-0.125rem) translateY(-0.3125rem); /* Move a imagem um pouco ao passar o mouse */
    cursor: url("../img/icons/cursor-a.png"), auto; /* Define um cursor personalizado */
}

.sobre-mim{
    width: 100%; /* Largura total do tópico 1 */
    height: 90%; /* Altura total do tópico 1 */
    align-items: center; /* Alinha os itens ao centro */
    justify-content: center; /* Alinha os itens ao centro */
}

/* Estilo para a imagem sobre mim */
.img-sobre-mim{
    border-radius: 50%;
    border: 1px solid white;
    display: block;
    margin-left: 38%;
    margin-top: 8%;
    opacity: 0;
    scale: 1;
    box-shadow: 0 0 0 0 white, 0 0 0 0 purple;
    animation: animateSurgimento 2.5s ease forwards; /* Define uma animação de surgimento durante 1.5 segundos com função de temporização 'ease' e mantém o estado final */
}

/* Efeito de escala ao passar o mouse sobre a imagem */
.img-sobre-mim:hover{
    transform: scale(1.15);
}

/* Estilo para o contêiner de texto */
.text-container {
    display: flex; /* Exibe os elementos como um contêiner flexível */
    justify-content: center; /* Centraliza os filhos ao longo do eixo principal (horizontalmente) */
    align-items: center; /* Centraliza os filhos ao longo do eixo transversal (verticalmente) */
}

/* Estilo para o título sobre mim */
.title-sobre-mim {
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    color: white; /* Define a cor do texto como branca */
    font-size: 6vh; /* Define o tamanho da fonte como 6% da altura da viewport */
    text-align: center; /* Alinha o texto ao centro */
    font-family: 'Dancing Script', cursive; /* Define a fonte do título */
    overflow: hidden; /* Oculta qualquer conteúdo que transborde do contêiner */
    animation: typing 6s linear 0s forwards; /* Adiciona uma animação chamada 'typing' com duração de 4 segundos, início linear após 1 segundo e retenção do estado final */
}




/* Estilo para o parágrafo sobre mim */
.paragraph-sobre-mim{
    font-size: 2rem; /* Tamanho da fonte em rem */
    width: 62.5rem; /* Largura do parágrafo em rem */
    color: #ffffff; /* Cor do texto */
    border-radius: 2rem; /* Borda circular do parágrafo em rem */
    padding: 0.9375rem; /* Preenchimento em rem */
    box-shadow: 0.03rem 0.03rem 4rem 0.1rem rgba(0, 0, 0, 1); /* Sombra do parágrafo em rem */
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    line-height: 1.2; /* Altura da linha */
    margin-top: -3%; /* Margem superior negativa */
    margin-left: 41.5%; /* Margem à esquerda */
    text-align: center; /* Alinhamento do texto ao centro */
}

/* Estilo para o parágrafo de tutorial */
.tutorial{
    font-size: 2rem; /* Tamanho da fonte em rem */
    width: 62.5rem; /* Largura do parágrafo em rem */
    color: #ffffff; /* Cor do texto */
    border-radius: 2rem; /* Borda circular do parágrafo em rem */
    padding: 0.9375rem; /* Preenchimento em rem */
    box-shadow: 0.03rem 0.03rem 4rem 0.1rem rgba(0, 0, 0, 1); /* Sombra do parágrafo em rem */
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    line-height: 1.2; /* Altura da linha */
    margin-top: -3%; /* Margem superior negativa */
    margin-left: 41.5%; /* Margem à esquerda */
    text-align: center; /* Alinhamento do texto ao centro */
}


/* fim da nav-bar e começo do tópico 1 */


/* Estilo para o contêiner do tópico 1 */
.topic-1 {
    width: 100%; /* Largura total do tópico 1 */
    border-top: 1px solid #8841ff;
    height: 90%; /* Altura total do tópico 1 */
    background-size: cover; /* Ajusta o tamanho do background para cobrir todo o contêiner */
    margin-top: 20px; /* Distância da nav-bar */
    align-items: center; /* Alinha os itens ao centro */
    justify-content: center; /* Alinha os itens ao centro */
}

/* Estilo para a segunda imagem no tópico 1 */
.topic-1-img-02 {
    width: 21.25rem; /* Largura da imagem em rem */
    height: 27.5rem; /* Altura da imagem em rem */
    margin-left: 70%; /* Margem à esquerda */
    margin-top: -21%; /* Margem superior negativa */
    margin-bottom: 0.67%; /* Margem inferior */
    transition: transform 0.6s ease; /* Transição suave ao passar o mouse */
    filter: drop-shadow(0.3125rem 0.3125rem 0.625rem rgba(195,112,218,255)); /* Sombra da imagem em rem */
}

/* Efeito ao passar o mouse na segunda imagem do tópico 1 */
.topic-1-img-02:hover {
    transform: translateX(-1.875rem) scale(1.2); /* Move e aumenta a imagem ao passar o mouse */
}

/* Estilo para o título do tópico 1 */
.topic-1-title {
    font-size: 7.5rem; /* Tamanho da fonte em rem */
    font-family: 'Dancing Script', cursive; /* Fonte do título */
    margin-top: -40%; /* Margem superior negativa */
    margin-left: 50%; /* Margem à esquerda */
    color: #ffffff; /* Cor do texto */
}

/* Estilo para o primeiro parágrafo do tópico 1 */
.topic-1-paragraph-1 {
    font-size: 2rem; /* Tamanho da fonte em rem */
    width: 62.5rem; /* Largura do parágrafo em rem */
    color: #ffffff; /* Cor do texto */
    border-radius: 2rem; /* Borda circular do parágrafo em rem */
    padding: 0.9375rem; /* Preenchimento em rem */
    box-shadow: 0.03rem 0.03rem 4rem 0.1rem rgba(0, 0, 0, 1); /* Sombra do parágrafo em rem */
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    line-height: 1.2; /* Altura da linha */
    margin-top: -3%; /* Margem superior negativa */
    margin-left: 41.5%; /* Margem à esquerda */
    text-align: center; /* Alinhamento do texto ao centro */
}

/* Estilo para o segundo parágrafo do tópico 1 */
.topic-1-paragraph-2 {
    color: #ffffff; /* Cor do texto */
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    line-height: 1.2; /* Altura da linha */
    border-radius: 2rem; /* Borda circular do parágrafo em rem */
    padding: 0.9375rem; /* Preenchimento em rem */
    box-shadow: 0.03rem 0.03rem 4rem 0.1rem rgba(0, 0, 0, 1); /* Sombra do parágrafo em rem */
    font-size: 1.875rem; /* Tamanho da fonte em rem */
    width: 68.75rem; /* Largura do parágrafo em rem */
    margin-left: 10%; /* Margem à esquerda */
    text-align: center; /* Alinhamento do texto ao centro */
    margin-top: 20%; /* Margem superior */
    z-index: 3; /* Ordem de sobreposição */
}

/* Estilo para o título "Desenhos e Imagens" */
.desenhos-imagens {
    font-size: 2.35rem; /* Tamanho da fonte em rem */
    color: #ffffff; /* Cor do texto */
    padding: 0rem; /* Preenchimento em rem */
    box-shadow: 0.03125rem 0.03125rem 5.125rem 1.125rem rgba(1,13,72,255); /* Sombra em rem */
    font-family: 'Cairo Play', sans-serif; /* Fonte do texto */
    margin: 4rem; /* Margem */
    border-radius: 3rem; /* Borda circular em rem */
    text-align: center; /* Alinhamento do texto ao centro */
    letter-spacing: 1rem; /* Espaçamento entre letras */
}

/* Estilo para o contêiner das imagens no tópico 1 */
.topic-1-imgs {
    display: flex; /* Exibe as imagens em linha */
    margin: 0 auto; /* Margem automática nas laterais */
    max-width: 93.75vh; /* Largura máxima */
    flex-wrap: wrap; /* Quebra para a próxima linha se não houver espaço suficiente */
    align-items: center; /* Alinha as imagens ao centro verticalmente */
    justify-content: center; /* Alinha as imagens ao centro horizontalmente */
}

/* Estilo para a primeira imagem no tópico 1 */
.topic-1-img-1 {
    width: 18.75vh; /* Largura da imagem */
    border-radius: 0.55rem; /* Borda circular */
    margin: 0.3125rem; /* Margem */
    transition: transform 0.4s ease-out; /* Transição suave ao passar o mouse */
    border: 1px solid #000000; /* Borda sólida */
    z-index: 10;
}

/* Efeito ao passar o mouse na primeira imagem do tópico  */
.topic-1-img-1:hover {
    transform: scale(1.2); /* Aumenta a escala da imagem */
    box-shadow: 1px 1px 20px 1px black;
    z-index: 11;
}




/* Estilo para o parágrafo final do tópico 1 */
.topic-1-p-fim {
    font-size: 1.35rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    opacity: 0.7; /* Opacidade */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 1.25rem; /* Preenchimento */
} 


/* fim da section 1 e inicio da section 2 */


/* Estilo para o contêiner do tópico 2 */
.topic-2 {
    width: 100%; /* Largura total do tópico 2 */
    padding: 1.25rem 1.25rem; /* Preenchimento */
    margin-top: -1.25rem; /* Margem superior negativa */
    border-top: 0.0625rem solid #8841ff; /* Borda superior */
}

/* Estilo para o título do tópico 2 */
.topic-2-title {
    font-size: 5rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinhamento do texto ao centro */
    font-family: 'Dancing Script', cursive; /* Fonte do título */
}

/* Estilo para o contêiner das imagens no tópico 2 */
.topic-2-imgs {
    display: flex; /* Exibe as imagens em linha */
    margin: 0 auto; /* Margem automática nas laterais */
    max-width: 93.75vh; /* Largura máxima */
    flex-wrap: wrap; /* Quebra para a próxima linha se não houver espaço suficiente */
    align-items: center; /* Alinha as imagens ao centro verticalmente */
    justify-content: center; /* Alinha as imagens ao centro horizontalmente */
    padding: 1rem; /* Preenchimento */
}

/* Estilo para a primeira imagem no tópico 2 */
.topic-2-img-1 {
    width: 18.75vh; /* Largura da imagem */
    border-radius: 1.25rem; /* Borda circular */
    margin: 0.3125rem; /* Margem */
    box-shadow: 1px 1px 30px 1px black;
    transition: transform 0.4s ease; /* Transição suave ao passar o mouse */
    border: 3px solid #261a7f; /* Borda sólida */
    z-index: 10;
}

/* Efeito ao passar o mouse na primeira imagem do tópico 2 */
.topic-2-img-1:hover {
    transform: scale(1.4); /* Aumenta a escala da imagem */
    box-shadow: 1px 1px 10px 10px black; /* Sombra */
    z-index: 11;
}

/* Estilo para o primeiro parágrafo do tópico 2 */
.topic-2-p-1{
    font-size: 2.35rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    padding: 0rem; /* Preenchimento */
    box-shadow: 1px 1px 20px 1px black; /* Sombra */
    font-family: 'Cairo Play', sans-serif; /* Fonte do texto */
    margin: 4rem; /* Margem */
    border-radius: 3rem; /* Borda circular */
    text-align: center; /* Alinhamento do texto ao centro */
    letter-spacing: 1rem; /* Espaçamento entre letras */
}

/* Estilo para o parágrafo final do tópico 2 */
.topic-2-p-fim {
    font-size: 1.35rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    opacity: 0.7; /* Opacidade */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 1.25rem; /* Preenchimento */
}


/* fechamento do topico 2 e abertura do topico 2 */


/* Estilo para o contêiner do tópico 3 */
.topic-3 {
    border-top: 1px solid #8841ff; /* Borda superior */
}

/* Estilo para o título do tópico 3 */
.topic-3-title {
    color: #ffffff; /* Cor do texto */
    font-size: 5rem; /* Tamanho da fonte */
    text-align: center; /* Alinhamento do texto ao centro */
    font-family: 'Dancing Script', cursive; /* Fonte do título */
}

/* Estilo para o contêiner das imagens no tópico 3 */
.topic-3-imgs {
    display: flex; /* Exibe as imagens em linha */
    margin: 0 auto; /* Margem automática nas laterais */
    max-width: 93.75vh; /* Largura máxima convertida para vh */
    flex-wrap: wrap; /* Quebra para a próxima linha se não houver espaço suficiente */
    align-items: center; /* Alinha as imagens ao centro verticalmente */
    justify-content: center; /* Alinha as imagens ao centro horizontalmente */
}

/* Estilo para as imagens no tópico 3 */
.topic-3-img-1,
.topic-3-img-2,
.topic-3-img-3 {
    width: 31.25rem; /* Largura da imagem */
    border-radius: 1.25rem; /* Borda circular */
    transition: transform 0.6s ease; /* Transição suave ao passar o mouse */
    box-shadow: 1px 1px 20px 1px black; /* Sombra da imagem */
    border: 0.225rem solid #000000; /* Borda sólida */
    margin: 1.25rem; /* Margem */
    z-index: 10;
}

/* Efeito ao passar o mouse na primeira imagem do tópico 3 */
.topic-3-img-1:hover {
    transform: scale(1.2) translateX(-3.75rem); /* Aumenta a escala e move a imagem ao passar o mouse */
    box-shadow: 1px 1px 20px 1px black; /* Sombra ao passar o mouse */
    z-index: 11;
}

/* Efeito ao passar o mouse na segunda imagem do tópico 3 */
.topic-3-img-2:hover {
    transform: scale(1.2) translateX(0); /* Aumenta a escala da imagem ao passar o mouse */
    box-shadow: 1px 1px 20px 1px black; /* Sombra ao passar o mouse */
    z-index: 11;
}

/* Efeito ao passar o mouse na terceira imagem do tópico 3 */
.topic-3-img-3:hover {
    transform: scale(1.2) translateX(3.75rem); /* Aumenta a escala e move a imagem ao passar o mouse */
    box-shadow: 1px 1px 20px 1px black; /* Sombra ao passar o mouse */
    z-index: 11;
}

/* Estilo para a lista no tópico 3 */
.topic-3-list {
    font-size: 1.1875rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    font-family: 'Baloo 2', sans-serif; /* Fonte do texto */
    margin-left: 10%; /* Margem à esquerda */
    flex-wrap: wrap; /* Quebra para a próxima linha se não houver espaço suficiente */
    list-style-image: url(/img/icons/list.png); /* Imagem de marcador de lista */
    list-style-position: inside; /* Posição do marcador de lista */
    column-count: 2; /* Divisão em duas colunas */
    column-gap: 1.25rem; /* Espaçamento entre colunas */
}

/* Estilo para os separadores de lista no tópico 3 */
.separador-list-1,
.separador-list-2{
    font-size: 2.35rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    padding: 0.4375rem; /* Preenchimento */
    box-shadow: 1px 1px 20px 1px black; /* Sombra */
    font-family: 'Cairo Play', sans-serif; /* Fonte do texto */
    margin: 2rem; /* Margem */
    border-radius: 3rem; /* Borda circular */
    text-align: center; /* Alinhamento do texto ao centro */
    letter-spacing: 1rem; /* Espaçamento entre letras */
}

/* Estilo para o primeiro parágrafo do tópico 3 */
.topic-3-p-1 {
    font-size: 1.875rem; /* Tamanho da fonte */
    text-align: center; /* Alinhamento do texto ao centro */
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    margin-left: 10%; /* Margem à esquerda */
    margin-right: 10%; /* Margem à direita */
    color: #ffffff; /* Cor do texto */
    padding: 2.5rem; /* Preenchimento */
}

/* Estilo para o parágrafo final do tópico 3 */
.topic-3-p-fim {
    font-size: 1.35rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    opacity: 0.7; /* Opacidade */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 1.25rem; /* Preenchimento */
}


/* fim da section 3 e inicio da section 4 */


/* Estilo para o contêiner do tópico 4 */
.topic-4 {
    border-top: 0.0625rem solid #8841ff; /* Borda superior */
    margin-top: -1.25rem; /* Margem superior */
}

/* Estilo para o título do tópico 4 */
.topic-4-title {
    color: #ffffff; /* Cor do texto */
    font-family: 'Dancing Script', cursive; /* Fonte do título */
    font-size: 5rem; /* Tamanho da fonte */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 0.125rem; /* Preenchimento */
}

/* Estilo para o contêiner das imagens no tópico 4 */
.topic-4-imgs {
    display: flex; /* Exibe as imagens em linha */
    margin: 0 auto; /* Margem automática nas laterais */
    max-width: 93.75vh; /* Largura máxima */
    flex-wrap: wrap; /* Quebra para a próxima linha se não houver espaço suficiente */
    align-items: center; /* Alinha as imagens ao centro verticalmente */
    justify-content: center; /* Alinha as imagens ao centro horizontalmente */
}

/* Estilo para as imagens no tópico 4 */
.topic-4-img-1,
.topic-4-img-2 {
    width: 37.5rem; /* Largura da imagem */
    box-shadow: 1px 1px 20px 1px black; /* Sombra da imagem */
    margin: 1.25rem; /* Margem */
    border-radius: 1.875rem; /* Borda circular */
    transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
    z-index: 12;
    box-shadow: 1px 1px 20px 1px black; /* Sombra ao passar o mouse */
}

/* Efeito ao passar o mouse na primeira imagem do tópico 4 */
.topic-4-img-1:hover {
    z-index: 13;
    box-shadow: 1px 1px 20px 1px black; /* Sombra ao passar o mouse */
    transform: scale(1.2) translateX(-0.2rem); /* Aumenta a escala e move a imagem ao passar o mouse */
}

/* Efeito ao passar o mouse na segunda imagem do tópico 4 */
.topic-4-img-2:hover {
    z-index: 13;
    box-shadow: 1px 1px 20px 1px black; /* Sombra ao passar o mouse */
    transform: scale(1.2) translateX(0.2rem); /* Aumenta a escala da imagem ao passar o mouse */
}

/* Estilo para o parágrafo final do tópico 4 */
.topic-4-p-fim {
    font-size: 1.25rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    font-family: 'Baloo 2', sans-serif; /* Fonte do texto */
    opacity: 0.7; /* Opacidade */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 3.125rem; /* Preenchimento */
}


/* fim da section 4 e inicio do footer */

/* Estilo para o rodapé */
footer {
    border-top: 0.0625rem solid #8841ff; /* Borda superior convertida para rem */
    margin-top: -1%; /* Margem superior em porcentagem */
    box-shadow: inset 100px 100px 1000px 500px rgba(0, 0, 0, 0.7); /* Sombra interna */
}

/* Estilo para o título do rodapé */
.fotter-title {
    color: #ffffff; /* Cor do texto */
    font-family: 'Arimi', sans-serif; /* Fonte do título */
    font-size: 3.125rem; /* Tamanho da fonte convertido para rem */
    margin-top: 6.25rem; /* Margem superior convertida para rem */
    line-height: 0.9; /* Altura da linha */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 0.125rem; /* Preenchimento convertido para rem */
}

/* Estilo para o texto de contato no rodapé */
.fotter-contat {
    color: #ffffff; /* Cor do texto */
    font-family: 'Arimi', sans-serif; /* Fonte do texto */
    font-size: 1.875rem; /* Tamanho da fonte convertido para rem */
    margin-top: 6.25rem; /* Margem superior convertida para rem */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 0.125rem; /* Preenchimento convertido para rem */
}

/* Estilo para os ícones no rodapé */
.icons-fotter {
    align-items: center; /* Alinhamento vertical ao centro */
    justify-content: center; /* Alinhamento horizontal ao centro */
    display: flex; /* Exibe os ícones em linha */
}

/* Estilo para as imagens no rodapé */
.img-fotter {
    width: 3.0rem; /* Largura das imagens */
    height: 3.0rem; /* Altura das imagens */
    margin: 0.5rem; /* Margem das imagens */
    transition: 0.4s ease-in-out; /* Transição suave */
    filter: invert(100%); /* Inverte as cores da imagem */
}

/* Efeito ao passar o mouse sobre as imagens no rodapé */
.img-fotter:hover {
    width: 3.3rem; /* Aumenta a largura ao passar o mouse */
    height: 3.3rem; /* Aumenta a altura ao passar o mouse */
    margin: 0.625rem; /* Aumenta a margem ao passar o mouse */
    transition: 0.2s; /* Transição mais curta */
    transform: translateX(-0.125rem) translateY(-0.3125rem); /* Move a imagem um pouco ao passar o mouse */
    cursor: url('/img/icons/cursor-a.png'), auto; /* Define um cursor personalizado */
}

/* Estilo para o parágrafo final do rodapé */
.fotter-p-fim {
    font-size: 1.5625rem; /* Tamanho da fonte convertido para rem */
    color: #ffffff; /* Cor do texto */
    font-family: 'Baloo 2', sans-serif; /* Fonte do texto */
    opacity: 0.7; /* Opacidade mantida em porcentagem */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 2.5rem; /* Preenchimento convertido para rem */
}


/* ANIMAÇÕES */

/* Animação de fundo para o corpo da página */
@keyframes animateBackground {
    0%, 100% {
        background-position: 0% 0%;
        background-size: 100% 100%;
    }
    50% {
        background-position: 100% 100%;
        background-size: 120% 120%;
    }
}

/* Animação para a fumaça */
@keyframes smokeAnimation {
    to {
        transform: scale(0.5); /* Escala para 1, restaurando o tamanho original */
        opacity: 0; /* Opacidade para 0, tornando a fumaça invisível */
    }
}

/* Animação para o efeito */
@keyframes efeitoAnimation {
    to {
        transform: scale(3.5); /* Escala para 9, aumentando o tamanho do elemento */
        opacity: 0; /* Opacidade para 0, tornando o efeito invisível */
    }
}

@keyframes animateSurgimento {
    0% {
        opacity: 0;
        box-shadow: 0 0 0 0 white, 0 0 0 0 purple;
        transform: scale(1.1);
        border-radius: 0%;
    }
    100% {
        opacity: 1;
        box-shadow: -2px -2px 10px 5px white, 2px 2px 10px 5px purple;
        transform: scale(1);
        border-radius: 50%;
    }
}

/* Animação de digitação */
@keyframes typing {
    from {
        width: 0; /* Começa com uma largura de 0 */
    }
    to {
        width: 100%; /* Aumenta gradualmente a largura para 100% */
}}

@keyframes appear-right {
    from {
        opacity: 0;
        transform: translateX(100%); /* Começa com os ícones posicionados fora da tela à direita */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Termina com os ícones na posição inicial */
    }
}


/* BARRA DE ROLAGEM */

/* Estilo para a barra de rolagem do WebKit */
::-webkit-scrollbar {
    width: 18px; /* Largura da barra de rolagem */
}

/* Estilo para o polegar da barra de rolagem do WebKit */
::-webkit-scrollbar-thumb {
    background-color: transparent; /* Cor de fundo transparente para o polegar */
    box-shadow: inset 10px 10px 80px 30px rgb(0, 0, 0); /* Sombra do polegar */
    border: 3px solid #8841ff; /* Borda do polegar */
    border-radius: 5px; /* Borda circular do polegar */
}

/* Estilo para a trilha da barra de rolagem do WebKit */
::-webkit-scrollbar-track {
    background-color: #000000; /* Cor de fundo ao mexer na barra de rolagem */
}









