/* Fontes importadas do (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Baloo+2:wght@400;500;600;700;800&family=Cairo+Play:wght@200;300;400;500;600;700;800;900;1000&family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/*

#0F294B
#ffffff
#000000

/* Estilo aplicado a tudo */
* {
    box-sizing: border-box;
}

/* Estilo para o HTML e o corpo da página */
html, body {
    margin: 0; /* Remove margens padrão do corpo e do HTML */
    height: auto;

    position: relative; /* Define a posição como relativa para o corpo */
    animation: animateBackground 30s linear infinite alternate; /* Aplica uma animação de fundo com duração de 30s */
    transition: opacity 1.3s ease-in-out; /* Transição suave para a propriedade de opacidade */
    cursor: url("../img/icons/cursor.png"), auto; /* Define o cursor personalizado */
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}

/* Pseudo-elemento antes do corpo da página */
body::before {
    content: ""; /* Adiciona conteúdo vazio ao pseudo-elemento */
    position: absolute; /* Define a posição absoluta em relação ao elemento pai */
    top: 0; /* Posiciona o topo no início do elemento pai */
    left: 0; /* Posiciona a esquerda no início do elemento pai */
    width: 100%; /* Ocupa toda a largura do elemento pai */
    height: 100%; /* Ocupa toda a altura do elemento pai */
}

/* Estilo para texto dentro de todas as tags <b> na página */
b {
    background: #0F294B; /* Cor de fundo para o texto */
    font-weight: 600;
    -webkit-background-clip: text; /* Aplica o degradê apenas ao texto */
    background-clip: text; /* Aplica o degradê apenas ao texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para exibir o degradê */
}

/* Estilo para o seletor de classe "body" */
.body {
    margin: 0 auto; /* Define a margem superior e inferior como 0 e as laterais como automáticas */
    width: 100%; /* Define a largura total do site como 100% */
}


/* Estilo para a classe .pet */
.pet {
    position: fixed; /* Define a posição do elemento como fixa em relação à janela de visualização */
    opacity: 0.8; /* Define a opacidade do elemento como 0.5 (semi-transparente) */
    bottom: 10px; /* Define a distância do elemento em relação à parte inferior como 10 pixels */
    right: 10px; /* Define a distância do elemento em relação à parte direita como 10 pixels */
    width: 3.5rem; /* Define a largura do elemento como 3.5 rem */
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    z-index: 1000; /* Define a ordem de empilhamento do elemento, quanto maior, mais acima ele estará */
    height: 3.5rem; /* Define a altura do elemento como 3.5 rem */
    background-image: url('../img/icons/whatsapp-rosa.png'); /* Define uma imagem de fundo para o elemento */
    background-size: cover; /* Faz com que a imagem de fundo cubra completamente o elemento */
    animation: petAnimation 4s infinite alternate; /* Aplica uma animação chamada petAnimation com duração de 2 segundos, repetição infinita e direção alternada */
}

.pet2 {
    position: fixed; /* Define a posição do elemento como fixa em relação à janela de visualização */
    opacity: 0.8; /* Define a opacidade do elemento como 0.5 (semi-transparente) */
    bottom: 10px; /* Define a distância do elemento em relação à parte inferior como 10 pixels */
    right: 10px; /* Define a distância do elemento em relação à parte direita como 10 pixels */
    width: 3.5rem;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    z-index: 1000; /* Define a ordem de empilhamento do elemento, quanto maior, mais acima ele estará */
    height: 3.5rem; /* Define a altura do elemento como 3.5 rem */
    border-radius: 50%;
    background-image: url('../img/icons/linkedin-rosa.png'); /* Define uma imagem de fundo para o elemento */
    background-size: cover; /* Faz com que a imagem de fundo cubra completamente o elemento */
    animation: petAnimation 4s infinite alternate; /* Aplica uma animação chamada petAnimation com duração de 2 segundos, repetição infinita e direção alternada */
}

.pet3 {
    position: fixed; /* Define a posição do elemento como fixa em relação à janela de visualização */
    opacity: 0.8; /* Define a opacidade do elemento como 0.5 (semi-transparente) */
    bottom: 10px; /* Define a distância do elemento em relação à parte inferior como 10 pixels */
    right: 10px; /* Define a distância do elemento em relação à parte direita como 10 pixels */
    width: 3.5rem; /* Define a largura do elemento como 3.5 rem */
    z-index: 1000; /* Define a ordem de empilhamento do elemento, quanto maior, mais acima ele estará */
    height: 3.5rem; /* Define a altura do elemento como 3.5 rem */
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    background-image: url('../img/icons/github-rosa.png'); /* Define uma imagem de fundo para o elemento */
    background-size: cover; /* Faz com que a imagem de fundo cubra completamente o elemento */
    animation: petAnimation 4s infinite alternate; /* Aplica uma animação chamada petAnimation com duração de 2 segundos, repetição infinita e direção alternada */
}

.pet4 {
    position: fixed; /* Define a posição do elemento como fixa em relação à janela de visualização */
    opacity: 0.8; /* Define a opacidade do elemento como 0.5 (semi-transparente) */
    bottom: 10px; /* Define a distância do elemento em relação à parte inferior como 10 pixels */
    right: 10px; /* Define a distância do elemento em relação à parte direita como 10 pixels */
    width: 3.5rem; /* Define a largura do elemento como 3.5 rem */
    z-index: 1000; /* Define a ordem de empilhamento do elemento, quanto maior, mais acima ele estará */
    height: 3.5rem; /* Define a altura do elemento como 3.5 rem */
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    background-image: url('../img/icons/email-rosa.png'); /* Define uma imagem de fundo para o elemento */
    background-size: cover; /* Faz com que a imagem de fundo cubra completamente o elemento */
    animation: petAnimation 4s infinite alternate; /* Aplica uma animação chamada petAnimation com duração de 2 segundos, repetição infinita e direção alternada */
}


/* Estilo para a barra de navegação (navbar) */
.nav-bar {
    background: #0F294B; /* Cor de fundo da barra de navegação */
    display: flex; /* Alinha os itens na horizontal */
    height: 100px; /* Altura da barra de navegação */
    position: fixed; /* Posicionamento fixo, não se move ao rolar a página */
    margin-bottom: -5%; /* Distância para baixo */
    margin-top: -4.7%; /* Distância do topo */
    z-index: 20; /* Ordem de sobreposição em relação a outros elementos */
    width: 100%; /* Largura da barra de navegação */
    align-items: center; /* Alinha os itens ao centro */
    justify-content: space-between; /* Distribui o espaço igualmente entre os itens */
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3); /* Sombra na barra de navegação */
}

/* Estilo para o título da barra de navegação */
.nav-title {
    font-size: 3.75rem; /* Tamanho da fonte para o título */
    justify-content: center; /* Centraliza o conteúdo na direção do eixo principal */

    align-items: center; /* Centraliza o conteúdo na direção do eixo transversal */
    margin-left: 10%; /* Margem à esquerda */
    width: 30%; /* Largura do título */
    font-family: 'Dancing Script', cursive; /* Fonte do título */
    margin: 1.25rem 3.125rem 1.25rem 6.25rem; /* Margens do título (a segunda declaração 'margin' sobrescreve a primeira) */
    background: #0F294B; /* Cor de fundo do título */
    -webkit-background-clip: text; /* Aplica o fundo apenas ao texto para criar um efeito de recorte */
    background-clip: text; /* Aplica o fundo apenas ao texto para criar um efeito de recorte */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o fundo */
    white-space: nowrap; /* Impede a quebra de linha dentro do título */
    animation: typing 3s linear 0s forwards; /* Adiciona uma animação chamada 'typing' com duração de 3 segundos, início linear imediato e retenção do estado final */
}


/* Estilo para a barra de ícones */
.icons-bar {
    margin-right: 6.25rem; /* Margem à direita */
}

/* Estilo para as imagens na barra de ícones */
.img-bar {
    width: 3.0rem; /* Largura das imagens */
    height: 3.0rem; /* Altura das imagens */
    margin: 0.5rem; /* Margem das imagens */
    transition: 0.4s ease-in-out; /* Transição suave */
    animation: appear-right 2s ease; /* Aplica a animação de aparecer da direita com duração de 2 segundos */
    animation-fill-mode: forwards; /* Mantém o estado final da animação após a conclusão */
    opacity: 0; /* Opacidade inicial das imagens */
    
}

/* Efeito ao passar o mouse nas imagens da barra de ícones */
.img-bar:hover {
    width: 3.3rem; /* Aumenta a largura ao passar o mouse */
    height: 3.3rem; /* Aumenta a altura ao passar o mouse */
    margin: 0.625rem; /* Aumenta a margem ao passar o mouse */
    transition: 0.2s; /* Transição mais curta */
    transform: translateX(-0.125rem) translateY(-0.3125rem); /* Move a imagem um pouco ao passar o mouse */
    cursor: url("../img/icons/cursor-a.png"), auto; /* Define um cursor personalizado */
}

/* Classe sobre mim */
.sobre-mim{
    width: 100%; /* Largura total sobre mim */
    height: 100%; /* Altura total sobre mim */
    align-items: center; /* Alinha os itens ao centro */
    justify-content: center; /* Alinha os itens ao centro */
    overflow: hidden;
    background-image: url('../img/backgrounds/9.png');
    background-position: center;
    background-size:cover;

}

.ctt-aleph{
    justify-content: left;
    margin-left: 20%;
    display: flex;
}

.contato-aleph{
    text-decoration: none;
    padding: 10px 14px;
    color: white;
    background: #0F294B;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.contato-aleph:hover{
    color: #0F294B;
    background-color: white;
    box-shadow: 0px 0px 10px #0F294B;
}

/* Estilo para a imagem sobre mim */
.img-sobre-mim {
    display: block; /* Configura a exibição do elemento como bloco */
    margin-left: 38%; /* Margem à esquerda da imagem */
    margin-top: 10%; /* Margem superior da imagem */
    opacity: 1; /* Opacidade inicial da imagem */
    scale: (1); /* Escala inicial da imagem  */
    animation: animateSurgimento 1.5s ease forwards; /* Define uma animação de surgimento durante 1.5 segundos com função de temporização 'ease' e mantém o estado final */
}

/* Efeito de escala ao passar o mouse sobre a imagem */
.img-sobre-mim:hover {
    transform: scale(1.15); /* Aplica uma escala de 1.15 quando o mouse está sobre a imagem */
}

/* Estilo para o contêiner de texto */
.text-container {
    display: flex; /* Exibe os elementos como um contêiner flexível */
    justify-content: center; /* Centraliza os filhos ao longo do eixo principal (horizontalmente) */
    align-items: center; /* Centraliza os filhos ao longo do eixo transversal (verticalmente) */
}

/* Estilo para o título sobre mim */
.title-sobre-mim {
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    color: #0F294B; /* Define a cor do texto como branca */

    font-size: 6vh; /* Define o tamanho da fonte como 6% da altura da viewport */
    text-align: center; /* Alinha o texto ao centro */
    font-family: 'Dancing Script', cursive; /* Define a fonte do título */
    overflow: hidden; /* Oculta qualquer conteúdo que transborde do contêiner */
    animation: typing 3s linear 0s forwards; /* Adiciona uma animação chamada 'typing' com duração de 4 segundos, início linear após 1 segundo e retenção do estado final */
}

/* Estilo para o parágrafo sobre mim */
.paragraph-sobre-mim {
    font-size: 2.5rem; /* Tamanho da fonte em rem */
    width: 62.5rem; /* Largura do parágrafo em rem */
    color: #000000; /* Cor do texto */
    border-radius: 2rem; /* Borda circular do parágrafo em rem */
    padding: 0.9375rem; /* Preenchimento em rem */
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.2; /* Altura da linha */
    margin-top: -3%; /* Margem superior negativa */
    margin-left: 41.5%; /* Margem à esquerda */
    text-align: justify; /* Alinhamento do texto ao centro */
    animation: surgir 1s linear 0s forwards; /* Adiciona uma animação chamada 'surgir' com duração de 1 segundo, início linear imediato e retenção do estado final */
}

/* Estilo para o parágrafo de tutorial */
.tutorial {
    font-size: 2rem; /* Tamanho da fonte em rem */
    width: 62.5rem; /* Largura do parágrafo em rem */
    color: #000000; /* Cor do texto */
    border-radius: 2rem; /* Borda circular do parágrafo em rem */
    padding: 0.9375rem; /* Preenchimento em rem */
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.2; /* Altura da linha */
    margin-top: 5%; /* Margem superior negativa */
    margin-left: 41.5%; /* Margem à esquerda */
    text-align: center; /* Alinhamento do texto ao centro */
    animation: surgir 1s linear 0s forwards; /* Adiciona uma animação chamada 'surgir' com duração de 1 segundo, início linear imediato e retenção do estado final */
}


/* Fim da nav-bar e começo do tópico 1 */


/* Estilo para o contêiner do tópico 1 */
.topic-1 {
    width: 100%; /* Largura total do tópico 1 */
    columns: 2;
    height: 90%; /* Altura total do tópico 1 */
    margin-top: 20px; /* Distância da nav-bar */
    align-items: center; /* Alinha os itens ao centro */
    justify-content: center; /* Alinha os itens ao centro */
}

/* Estilo para a segunda imagem no tópico 1 */
.topic-1-img-02 {
    width: 21.25rem; /* Largura da imagem em rem */
    height: 27.5rem; /* Altura da imagem em rem */
    margin-left: 70%; /* Margem à esquerda */
    margin-top: -21%; /* Margem superior negativa */
    margin-bottom: 0.67%; /* Margem inferior */
    transition: transform 0.6s ease; /* Transição suave ao passar o mouse */
    filter: drop-shadow(0.3125rem 0.3125rem 0.625rem rgba(7,53,102,1)); /* Sombra da imagem em rem */
}

/* Efeito ao passar o mouse na segunda imagem do tópico 1 */
.topic-1-img-02:hover {
    transform: translateX(-1.875rem) scale(1.2); /* Move e aumenta a imagem ao passar o mouse */
}

/* Estilo para o título do tópico 1 */
.topic-1-title {
    font-size: 7.5rem; /* Tamanho da fonte em rem */
    font-family: 'Dancing Script', cursive; /* Fonte do título */
    font-weight: 100;
    margin-top: -40%; /* Margem superior negativa */
    margin-left: 50%; /* Margem à esquerda */
    color: #0F294B; /* Cor do texto */
}

/* Estilo para o primeiro parágrafo do tópico 1 */
.topic-1-paragraph-1 {
    font-size: 2rem; /* Tamanho da fonte em rem */
    width: 62.5rem; /* Largura do parágrafo em rem */
    color: #0F294B; /* Cor do texto */
    padding: 0.9375rem; /* Preenchimento em rem */
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.2; /* Altura da linha */
    margin-top: -3%; /* Margem superior negativa */
    text-align: justify; /* Alinhamento do texto ao centro */
}

/* Estilo para o segundo parágrafo do tópico 1 */
.topic-1-paragraph-2 {
    color: #0F294B; /* Cor do texto */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.2; /* Altura da linha */
    padding: 0.9375rem; /* Preenchimento em rem */  
    font-size: 1.875rem; /* Tamanho da fonte em rem */
    width: 68.75rem; /* Largura do parágrafo em rem */
    margin-left: 10%; /* Margem à esquerda */
    text-align: center; /* Alinhamento do texto ao centro */
    margin-top: 20%; /* Margem superior */
    z-index: 3; /* Ordem de sobreposição */
}

/* Estilo para o título "Desenhos e Imagens" */
.desenhos-imagens {
    font-size: 2.35rem; /* Tamanho da fonte em rem */
    color: #0F294B; /* Cor do texto */
    padding: 0rem; /* Preenchimento em rem */
    font-family: "Montserrat", sans-serif;  
    margin: 4rem; /* Margem */
    text-align: center; /* Alinhamento do texto ao centro */
    letter-spacing: 1rem; /* Espaçamento entre letras */
}

/* Estilo para o contêiner das imagens no tópico 1 */



.pic-ctn {
    width: 10px;
    height: 20px;
    float: left;
  }
  
  @keyframes display {
    0% {
      transform: translateX(0px) scale(1);
      opacity: 0;

    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-0px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px) scale(1);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    width: 80vh;
    height: 80vh;
    margin-top: 1vh;
  }

  .pic-ctn img{
    width: 20rem;
    border-radius: 5px;
    margin-left: 24%;
    border: #0F294B 1px solid;
    box-shadow: 1px 1px 3px #0F294B;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 22s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }

  img:nth-child(6) {
    animation-delay: 10s;
  }
  img:nth-child(7) {
    animation-delay: 12s;
  }
  img:nth-child(8) {
    animation-delay: 14s;
  }
  img:nth-child(9) {
    animation-delay: 16s;
  }

  img:nth-child(10) {
    animation-delay: 18s;
  }
  img:nth-child(11) {
    animation-delay: 20s;
  }
  img:nth-child(12) {
    animation-delay: 22s;
  }


/* Estilo para o parágrafo final do tópico 1 */
.topic-1-p-fim {
    font-size: 1.35rem; /* Tamanho da fonte */
    color: #0F294B; /* Cor do texto */
    font-family: "Montserrat", sans-serif;
    opacity: 0.7; /* Opacidade */
    text-align: left; /* Alinhamento do texto ao centro */
    margin-left: 20%;
}


/* Fim da section 1 e início da section 2 */


/* Estilo para o contêiner do tópico 2 */
.topic-2 {
    width: 100%; /* Largura total do tópico 2 */
    padding: 1.25rem 1.25rem; /* Preenchimento */
    background-color: #0F294B;
    margin-top: -1.25rem; /* Margem superior negativa */ 
    background-image: url('../img/backgrounds/8.png');
    background-size: contain;
}

.link-certi{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -1.5%;
}

.certificado-link{
    color: #ffffff; 
    background: #0F294B; 
    padding: 1rem;
    padding-left: 33%;
    padding-right: 33%;
    text-decoration: none; 
    font-weight: 300; 
}

/* Estilo para o título do tópico 2 */
.topic-2-title {
    font-size: 5rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinhamento do texto ao centro */
    font-family: 'Great Vibes', cursive;
    font-weight: 100;
}

/* Estilo para o contêiner das imagens no tópico 2 */
.topic-2-imgs {
    display: flex; /* Exibe as imagens em linha */
    margin: 0 auto; /* Margem automática nas laterais */
    max-width: 93.75vh; /* Largura máxima */
    flex-wrap: wrap; /* Quebra para a próxima linha se não houver espaço suficiente */
    align-items: center; /* Alinha as imagens ao centro verticalmente */
    justify-content: center; /* Alinha as imagens ao centro horizontalmente */
    padding: 1rem; /* Preenchimento */
}

/* Estilo para a primeira imagem no tópico 2 */
.topic-2-img-1 {
    width: 18.75vh; /* Largura da imagem */
    filter: saturate(120%);
    border-radius: 0rem; /* Borda circular */
    margin: 0.3125rem; /* Margem */
    box-shadow: 1px 1px 1px 1px black; /* Sombra da imagem com desfoque  */
    transition: transform 0.4s ease; /* Transição suave ao passar o mouse */
    border: 0px solid #261a7f; /* Borda sólida com uma cor específica */
    z-index: 10; /* Ordem de sobreposição */
}

/* Efeito ao passar o mouse na primeira imagem do tópico 2 */
.topic-2-img-1:hover {
    transform: scale(1.4); /* Aumenta a escala da imagem ao passar o mouse */
    box-shadow: 1px 1px 2px 2px black; /* Sombra da imagem ao passar o mouse com desfoque */
    z-index: 11; /* Ordem de sobreposição */
}

/* Estilo para o primeiro parágrafo do tópico 2 */
.topic-2-p-1 {
    font-size: 2.35rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    padding: 0rem; /* Preenchimento */
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    text-align: center; /* Alinhamento do texto ao centro */
    letter-spacing: 1rem; /* Espaçamento entre letras */
}

/* Estilo para o parágrafo final do tópico 2 */
.topic-2-p-fim {
    font-size: 1.35rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    opacity: 0.7; /* Opacidade */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 1.25rem; /* Preenchimento */
}


/* Fechamento do tópico 2 e abertura do tópico 3 */


/* Estilo para o contêiner do tópico 3 */
.topic-3 {
    background-color: #ffffff;
}

.insignias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Adicionado para alinhar ao centro verticalmente */
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #0F294B;
    padding: 15px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.insignias img {
    width: 7%;
    height: 15%;
    margin: 5px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
    animation: aumentar 1.5s ease-in-out infinite; /* Animação para aumentar */
}

@keyframes aumentar {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.10);
    }
    70% {
        transform: scale(1.10);
    }
    100% {
        transform: scale(1);
    }
}

.insignias img:nth-child(1) { animation-delay: 0s; }
.insignias img:nth-child(2) { animation-delay: .5s; }
.insignias img:nth-child(3) { animation-delay: 1s; }
.insignias img:nth-child(4) { animation-delay: 1.5s; }
.insignias img:nth-child(5) { animation-delay: 2s; }
.insignias img:nth-child(6) { animation-delay: 2.5s; }
.insignias img:nth-child(7) { animation-delay: 3s; }
.insignias img:nth-child(8) { animation-delay: 3.5s; }
.insignias img:nth-child(9) { animation-delay: 4s; }

/* Estilo para o título do tópico 3 */
.topic-3-title {
    color: #0F294B; /* Cor do texto */
    font-size: 5rem; /* Tamanho da fonte */
    text-align: center; /* Alinhamento do texto ao centro */
    font-family: 'Great Vibes', cursive;
    font-weight: 100;
}

/* Estilo para o contêiner das imagens no tópico 3 */
.topic-3-imgs {
    display: flex; /* Exibe as imagens em linha */
    margin: 0 auto; /* Margem automática nas laterais */
    max-width: 93.75vh; /* Largura máxima convertida para vh */
    flex-wrap: wrap; /* Quebra para a próxima linha se não houver espaço suficiente */
    align-items: center; /* Alinha as imagens ao centro verticalmente */
    justify-content: center; /* Alinha as imagens ao centro horizontalmente */
}

/* Estilo para as imagens no tópico 3 */
.topic-3-img-1,
.topic-3-img-2,
.topic-3-img-3 {
    width: 31.25rem; /* Largura da imagem */
    border-radius: 1.25rem; /* Borda circular */
    transition: transform 0.6s ease; /* Transição suave ao passar o mouse */
    box-shadow: 1px 1px 5px 1px #0F294B; /* Sombra da imagem */
    margin: 1.25rem; /* Margem */
    z-index: 10; /* Ordem de sobreposição */
}

/* Efeito ao passar o mouse na primeira imagem do tópico 3 */
.topic-3-img-1:hover {
    transform: scale(1.2) translateX(-3.75rem); /* Aumenta a escala e move a imagem ao passar o mouse */
    box-shadow: 1px 1px 10px 1px #0F294B; /* Sombra da imagem ao passar o mouse */
    z-index: 11; /* Ordem de sobreposição */
}

/* Efeito ao passar o mouse na segunda imagem do tópico 3 */
.topic-3-img-2:hover {
    transform: scale(1.2) translateX(0); /* Aumenta a escala da imagem ao passar o mouse */
    box-shadow: 1px 1px 20px 1px #0F294B; /* Sombra da imagem ao passar o mouse */
    z-index: 11; /* Ordem de sobreposição */
}

/* Efeito ao passar o mouse na terceira imagem do tópico 3 */
.topic-3-img-3:hover {
    transform: scale(1.2) translateX(3.75rem); /* Aumenta a escala e move a imagem ao passar o mouse */
    box-shadow: 1px 1px 20px 1px #0F294B; /* Sombra da imagem ao passar o mouse */
    z-index: 11; /* Ordem de sobreposição */
}

/* Estilo para a lista no tópico 3 */
.topic-3-list {
    font-size: 1.1875rem; /* Tamanho da fonte */
    color: #000000; /* Cor do texto */
    border: 1px solid #0F294B;
    padding: 20px;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    margin-left: 10%; /* Margem à esquerda */
    flex-wrap: wrap; /* Quebra para a próxima linha se não houver espaço suficiente */
    list-style-image: url(/img/icons/list.png); /* Imagem de marcador de lista */
    list-style-position: inside; /* Posição do marcador de lista */
    column-count: 2; /* Divisão em duas colunas */
    column-gap: 1.25rem; /* Espaçamento entre colunas */
    
}


/* Estilo para os separadores de lista no tópico 3 */
.separador-list-1,
.separador-list-2 {
    font-size: 2rem; /* Tamanho da fonte */
    color: #0F294B; /* Cor do texto */
    padding: 0.4375rem; /* Preenchimento */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 2rem; /* Margem */
    text-align: left; /* Alinhamento do texto ao centro */
    letter-spacing: 1rem; /* Espaçamento entre letras */
}

/* Estilo para o primeiro parágrafo do tópico 3 */
.topic-3-p-1 {
    font-size: 1.875rem; /* Tamanho da fonte */
    text-align: center; /* Alinhamento do texto ao centro */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-left: 10%; /* Margem à esquerda */
    margin-right: 10%; /* Margem à direita */
    color: #000000; /* Cor do texto */
    padding: 2.5rem; /* Preenchimento */
}

/* Estilo para o parágrafo final do tópico 3 */
.topic-3-p-fim {
    font-size: 1.35rem; /* Tamanho da fonte */
    color: #000000; /* Cor do texto */
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    opacity: 0.7; /* Opacidade */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 1.25rem; /* Preenchimento */
}


/* Fechamento do tópico 3 e abertura do tópico 4 */


/* Estilo para o contêiner do tópico 4 */
.topic-4 { 
    margin-top: -1.25rem; /* Margem superior negativa */
    background-color: #000000;
}

/* Estilo para o título do tópico 4 */
.topic-4-title {
    color: #000000; /* Cor do texto */
    font-family: 'Great Vibes', cursive;
    font-weight: 100;
    font-size: 5rem; /* Tamanho da fonte */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 0.125rem; /* Preenchimento */
}

/* Estilo para o contêiner das imagens no tópico 4 */
.topic-4-imgs {
    display: flex; /* Exibe as imagens em linha */
    margin: 0 auto; /* Margem automática nas laterais */
    max-width: 93.75vh; /* Largura máxima convertida para vh */
    flex-wrap: wrap; /* Quebra para a próxima linha se não houver espaço suficiente */
    align-items: center; /* Alinha as imagens ao centro verticalmente */
    justify-content: center; /* Alinha as imagens ao centro horizontalmente */
}

/* Estilo para as imagens no tópico 4 */
.topic-4-img-1,
.topic-4-img-2 {
    width: 37.5rem; /* Largura da imagem */
    box-shadow: 1px 1px 20px 1px black; /* Sombra da imagem */
    margin: 1.25rem; /* Margem */
    border-radius: 1.875rem; /* Borda circular */
    transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
    z-index: 12; /* Ordem de sobreposição */
}

/* Efeito ao passar o mouse na primeira imagem do tópico 4 */
.topic-4-img-1:hover {
    z-index: 13; /* Ordem de sobreposição ao passar o mouse */
    box-shadow: 1px 1px 20px 1px black; /* Sombra da imagem ao passar o mouse */
    transform: scale(1.2) translateX(-0.2rem); /* Aumenta a escala e move a imagem ao passar o mouse */
}

/* Efeito ao passar o mouse na segunda imagem do tópico 4 */
.topic-4-img-2:hover {
    z-index: 13; /* Ordem de sobreposição ao passar o mouse */
    box-shadow: 1px 1px 20px 1px black; /* Sombra da imagem ao passar o mouse */
    transform: scale(1.2) translateX(0.2rem); /* Aumenta a escala da imagem ao passar o mouse */
}

/* Estilo para o parágrafo final do tópico 4 */
.topic-4-p-fim {
    font-size: 1.25rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    font-family: 'Baloo 2', sans-serif; /* Fonte do texto */
    opacity: 0.7; /* Opacidade */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 3.125rem; /* Preenchimento */
}



.section-6{
    background-color: #0F294B;
    align-items: center;
    

}

.section-6-title{
    color: #ffffff; /* Cor do texto */
    font-family: 'Dancing Script', cursive; /* Fonte do título */
    font-weight: 100;
    padding-top: 3%;
    font-size: 4.5rem; /* Tamanho da fonte */
    text-align: center; /* Alinhamento do texto ao centro */
}

.listas-profissao{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    height: 480px;
}

.prof1{
    width: 25%;
    background-color: #ffffff;
    border-radius: 2%;
    margin: 1%;

}

.prof2{
    width: 25%;
    background-color: #ffffff;
    border-radius: 2%;
    margin: 1%;
}

.prof3{
    width: 25%;
    background-color: #ffffff;
    border-radius: 2%;
    margin: 1%;
}

.img-1-sec-6{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.img-01-sec-6{
    width: 5%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.section-6-h1{
    font-size: 3rem; /* Tamanho da fonte em rem */
    opacity: 0.8;
    font-weight: 300;
    color: #000000; /* Cor do texto */
    padding: 1rem; /* Preenchimento em rem */
    font-family: 'Dancing Script', cursive; /* Fonte do título */
    line-height: 1.2; /* Altura da linha */
    margin-top: 20%; /* Margem superior negativa */
    text-align: center; /* Alinhamento do texto ao centro */
}



.section-6-p {
    font-size: 1.7rem; /* Tamanho da fonte em rem */
    width: 100%; /* Largura do parágrafo em rem */
    opacity: 0.8;
    font-weight: 200;
    color: #0F294B  ; /* Cor do texto */
    padding: 1rem; /* Preenchimento em rem */
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.2; /* Altura da linha */
    margin-top: 2%; /* Margem superior negativa */
    text-align: left; /* Alinhamento do texto ao centro */
}







.section-5 {
    align-items: center;
    margin-top: -3%;
    margin-bottom: -7%;
    background-image: url('../img/backgrounds/9.png');
}

.lista-projetos{
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 5%;
    flex-wrap: wrap;
}

.proj1{
    width: 20%;
    border-radius: 5%;
    margin: 5px;
    background-color: #0F294B;
}

.section-5-img {
    height: 30vh; /* ou qualquer altura desejada */
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    margin-bottom: 2% ;
}

.section-5-title {
    color: #0F294B; /* Cor do texto */
    font-family: 'Dancing Script', cursive; /* Fonte do título */
    font-weight: 100;
    padding-top: 2%;
    font-size: 4.5rem; /* Tamanho da fonte */
    text-align: center; /* Alinhamento do texto ao centro */
}

.section-5-h4{
    font-size: 1.5rem; /* Tamanho da fonte em rem */
    opacity: 0.8;
    color: #ffffff; /* Cor do texto */
    border-radius: 0.5rem; /* Borda circular do parágrafo em rem */
    padding: 1rem; /* Preenchimento em rem */
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.2; /* Altura da linha */
    margin-top: 1%; /* Margem superior negativa */
    margin-left: 20%; /* Margem à esquerda */
    text-align: center; /* Alinhamento do texto ao centro */
}

.section-5-h5{
    font-size: 1rem; /* Tamanho da fonte em rem */
    opacity: 1;
    color: #ffffff; /* Cor do texto */
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.2; /* Altura da linha */
    text-align: center; /* Alinhamento do texto ao centro */
}

.section-5-p {
    font-size: 1rem; /* Tamanho da fonte em rem */
    width: 90%; /* Largura do parágrafo em rem */
    opacity: 0.8;
    color: #ffffff; /* Cor do texto */
    border-radius: 0.5rem; /* Borda circular do parágrafo em rem */
    padding: 1rem; /* Preenchimento em rem */
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.2; /* Altura da linha */
    margin-top: 2%; /* Margem superior negativa */
    margin-left: 7%; /* Margem à esquerda */
    text-align: center; /* Alinhamento do texto ao centro */
}

.icons-section-5 {
    align-items: center; /* Alinhamento vertical ao centro */
    justify-content: center; /* Alinhamento horizontal ao centro */
    display: flex; /* Exibe os ícones em linha */
}

/* Estilo para as imagens no rodapé */
.icons-img-section-5 {
    width: 3.0rem; /* Largura das imagens */
    height: 3.0rem; /* Altura das imagens */
    margin: 0.5rem; /* Margem das imagens */
    transition: 0.4s ease-in-out; /* Transição suave ao passar o mouse */
}

/* Efeito ao passar o mouse sobre as imagens no rodapé */
.icons-img-section-5:hover {
    width: 2.3rem; /* Aumenta a largura ao passar o mouse */
    height: 2.3rem; /* Aumenta a altura ao passar o mouse */
    margin: 0.625rem; /* Aumenta a margem ao passar o mouse */
    transition: 0.2s; /* Transição mais curta */
    transform: translateX(-0.125rem) translateY(-0.125rem); /* Move a imagem um pouco ao passar o mouse */
    cursor: url('/img/icons/cursor-a.png'), auto; /* Define um cursor personalizado */
}

.hr-topic-5{
    display: none;
}

.img-socialmedia{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 10px;
}


.sushi-img-1{
    width: 40%;
    height: auto;
    display: block;
    filter: invert(100%);
    margin: 0 auto;
}


.sushi-img-2{
    width: 40%;
    height: auto;
    display: block;
    border-radius: 30px;
    margin: 0 auto;
}


.sushi-img-3{
    width: 40%;
    margin-left: 30%;
    border-radius: 30px;
    margin-top: 3%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}

.sushi-p-1{
    font-size: 1.7rem; /* Tamanho da fonte em rem */
    width: 100.5rem; /* Largura do parágrafo em rem */
    opacity: 0.8;
    color: #ffffff; /* Cor do texto */
    box-shadow: 1px 1px 20px 1px black; /* Sombra do parágrafo com desfoque */
    border-radius: 0.5rem; /* Borda circular do parágrafo em rem */
    padding: 1rem; /* Preenchimento em rem */
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    line-height: 1.2; /* Altura da linha */
    margin-top: 0%; /* Margem superior negativa */
    margin-left: 7%; /* Margem à esquerda */
    text-align: center; /* Alinhamento do texto ao centro */
}

.sushi-p-2{
    font-size: 1.5rem; /* Tamanho da fonte em rem */
    width: 100.5rem; /* Largura do parágrafo em rem */
    opacity: 0.8;
    color: #ffffff; /* Cor do texto */
    box-shadow: 1px 1px 20px 1px black; /* Sombra do parágrafo com desfoque */
    border-radius: 0.5rem; /* Borda circular do parágrafo em rem */
    padding: 1rem; /* Preenchimento em rem */
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    line-height: 1.2; /* Altura da linha */
    margin-top: 2%; /* Margem superior negativa */
    margin-left: 7%; /* Margem à esquerda */
    text-align: center; /* Alinhamento do texto ao centro */
}

.img-eduk-logo{
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: invert(100%);
}

.eduk-p{
    font-size: 1.5rem; /* Tamanho da fonte em rem */
    width: 100.5rem; /* Largura do parágrafo em rem */
    opacity: 0.8;
    color: #ffffff; /* Cor do texto */
    box-shadow: 1px 1px 20px 1px black; /* Sombra do parágrafo com desfoque */
    border-radius: 0.5rem; /* Borda circular do parágrafo em rem */
    padding: 1rem; /* Preenchimento em rem */
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    line-height: 1.2; /* Altura da linha */
    margin-top: 2%; /* Margem superior negativa */
    margin-left: 7%; /* Margem à esquerda */
    text-align: center; /* Alinhamento do texto ao centro */
}

.section5-1{
    border-top: 1px solid #8841ff;
    align-items: center;
}

.imgs-ifrj{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.img-ifrj-img{
    width: 40%;
    height: auto;
    display: block;
    margin-right: 1%;
}
.img-ifrj-img2{
    width: 10%;
    height: auto;
    display: block;
    margin-left: 1%;
}

.img-ifrj-img3{
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
}

.ifrj-p{
    font-size: 1.5rem; /* Tamanho da fonte em rem */
    width: 100.5rem; /* Largura do parágrafo em rem */
    opacity: 0.8;
    color: #ffffff; /* Cor do texto */
    box-shadow: 1px 1px 20px 1px black; /* Sombra do parágrafo com desfoque */
    border-radius: 0.5rem; /* Borda circular do parágrafo em rem */
    padding: 1rem; /* Preenchimento em rem */
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    line-height: 1.2; /* Altura da linha */
    margin-top: 2%; /* Margem superior negativa */
    margin-left: 7%; /* Margem à esquerda */
    text-align: center; /* Alinhamento do texto ao centro */
}

.section-7{
    border-top: 0.0625rem solid #8841ff; /* Borda superior com uma cor específica */
    box-shadow: inset 100px 100px 1000px 500px rgba(0, 0, 0, 0.3); /* Sombra interna */
}

.section7 {
    margin-left: 20%;
    margin-right: 20%;
    color: #ffffff;
}

.title-section7 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 3rem;
    background: linear-gradient(45deg, #ffffff, #f7e018, #e43c04, #f7e018, #6100ac);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-bar {
    width: 100%;
    height: 15px;
    appearance: none;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px; /* Espaçamento entre as habilidades */
}

.skill-bar::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 15px;
}

.skill-bar1::-webkit-progress-value {
    background: linear-gradient(to right,  #f7e018, #e43c04, #f7e018);
    border-radius: 15px;
}

.skill-bar2::-webkit-progress-value {
    background: linear-gradient(to right, #f7e018, #e43c04, #f7e018);
    border-radius: 15px;
}

.skill-bar3::-webkit-progress-value {
    background: linear-gradient(to right, #f7e018, #e43c04, #f7e018);
    border-radius: 15px;
}
.skill-bar4::-webkit-progress-value {
    background: linear-gradient(to right, #f7e018, #e43c04, #f7e018);
    border-radius: 15px;
}
.skill-bar5::-webkit-progress-value {
    background: linear-gradient(to right, #f7e018, #e43c04, #f7e018);
    border-radius: 15px;
}
.skill-bar6::-webkit-progress-value {
    background: linear-gradient(to right, #f7e018, #e43c04, #f7e018);
    border-radius: 15px;
}
.skill-bar7::-webkit-progress-value {
    background: linear-gradient(to right, #f7e018, #e43c04, #f7e018);
    border-radius: 15px;
}
.skill-bar8::-webkit-progress-value {
    background: linear-gradient(to right, #f7e018, #e43c04, #f7e018);
    border-radius: 15px;
}
.skill-bar9::-webkit-progress-value {
    background: linear-gradient(to right, #f7e018, #e43c04, #f7e018);
    border-radius: 15px;
}
.skill-bar10::-webkit-progress-value {
    background: linear-gradient(to right, #f7e018, #e43c04, #f7e018);
    border-radius: 15px;
}
.skill-bar11::-webkit-progress-value {
    background: linear-gradient(to right, #f7e018, #e43c04, #f7e018);
    border-radius: 15px;
}
.skill-bar12::-webkit-progress-value {
    background: linear-gradient(to right, #f7e018, #e43c04, #f7e018);
    border-radius: 15px;
}


.p7 {
    font-family: 'Baloo 2', sans-serif;
    font-size: 1rem;
    flex: 0 0 48%; /* Define a largura da habilidade conforme necessário */
}

/* Fechamento da section 4 e abertura do footer */



/* Estilo para o rodapé */
footer {

   
    overflow: hidden;
    background-image: url('../img/backgrounds/10.png');
    background-size: cover;
    background-position: top;
}

/* Estilo para o título do rodapé */
.fotter-title {
    color: #0F294B; /* Cor do texto */
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 3.125rem; /* Tamanho da fonte convertido para rem */
    margin-top: 6.25rem; /* Margem superior convertida para rem */
    line-height: 0.9; /* Altura da linha */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 0.125rem; /* Preenchimento convertido para rem */
}

/* Estilo para o texto de contato no rodapé */
.fotter-contat {
    color: #0F294B; /* Cor do texto */
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.875rem; /* Tamanho da fonte convertido para rem */
    margin-top: 6.25rem; /* Margem superior convertida para rem */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 0.125rem; /* Preenchimento convertido para rem */
}

/* Estilo para os ícones no rodapé */
.icons-fotter {
    align-items: center; /* Alinhamento vertical ao centro */
    justify-content: center; /* Alinhamento horizontal ao centro */
    display: flex; /* Exibe os ícones em linha */
    
}

/* Estilo para as imagens no rodapé */
.img-fotter {
    width: 3.0rem; /* Largura das imagens */
    height: 3.0rem; /* Altura das imagens */
    margin: 0.5rem; /* Margem das imagens */
    transition: 0.4s ease-in-out; /* Transição suave */
    animation: appear-right 2s ease; /* Aplica a animação de aparecer da direita com duração de 2 segundos */
    animation-fill-mode: forwards; /* Mantém o estado final da animação após a conclusão */
    opacity: 0; /* Opacidade inicial das imagens */
}

/* Efeito ao passar o mouse sobre as imagens no rodapé */
.img-fotter:hover {
    width: 3.3rem; /* Aumenta a largura ao passar o mouse */
    height: 3.3rem; /* Aumenta a altura ao passar o mouse */
    margin: 0.625rem; /* Aumenta a margem ao passar o mouse */
    transition: 0.2s; /* Transição mais curta */
    transform: translateX(-0.125rem) translateY(-0.3125rem); /* Move a imagem um pouco ao passar o mouse */
    cursor: url('/img/icons/cursor-a.png'), auto; /* Define um cursor personalizado */
}

/* Estilo para o parágrafo final do rodapé */
.fotter-p-fim {
    font-size: 1.5625rem; /* Tamanho da fonte convertido para rem */
    color: #0F294B; /* Cor do texto */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    opacity: 0.7; /* Opacidade mantida em porcentagem */
    text-align: center; /* Alinhamento do texto ao centro */
}


/* Espaço para as animações */


@keyframes animateBackground {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
}

/* ANIMAÇÃO DE SURGIMENTO DA FOTO PRINCIPAL */
@keyframes animateSurgimento {
    0% {
        opacity: 0;
        transform: rotate(280deg);
        border-radius: 40%;
        transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out; /* Define duração e curva de transição */


    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
        border-radius: 50%;

    }
}


/* ANIMAÇÃO DE DIGITAÇÃO */
@keyframes typing {
    from {
        opacity: 0.8;
        width: 0; /* Inicia com uma largura de 0 para criar efeito de digitação */
    }
    to {
        opacity: 1;
        width: 100%; /* Aumenta gradualmente a largura para 100% */
    }
}

/* ANIMAÇÃO DE APARECIMENTO DA DIREITA */
@keyframes appear-right {
    from {
        opacity: 0;
        transform: translateX(100%); /* Começa com os ícones posicionados fora da tela à direita */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Termina com os ícones na posição inicial */
    }
}

/* ANIMAÇÃO PARA O PET */
@keyframes petAnimation {
    0% {
        transform: scale(1.3);
        opacity: 0.1;
    }
    5%, 55% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(650%) scale(1);
        opacity: 1;
    }
}

/* ANIMAÇÃO DE SURGIMENTO GERAL */
@keyframes surgir {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Define duração e curva de transição */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



/* BARRA DE ROLAGEM PARA O WEBKIT */



/* ANIMAÇÃO GENÉRICA */


/* Estilo inicial para a animação */
.animacao {
    opacity: 0; /* Inicia com opacidade 0 */
    transform: translateY(-100px); /* Move para cima (fora da tela) */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Define duração e curva de transição */
}

/* Estilo para aparecer (final da animação) */
.aparecer {
    opacity: 1; /* Opacidade completa */
    transform: translateY(0); /* Move de volta para a posição original */
}


.animacao2 {
    opacity: 0;
    transform: translateX(-100px); /* Move para a esquerda (fora da tela) */
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.aparecer2 {
    opacity: 1;
    transform: translateX(0); /* Move de volta para a posição original da esquerda */
}

.animacao3 {
    opacity: 0;
    transform: translateX(100px); /* Move para a direita (fora da tela) */
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.aparecer3 {
    opacity: 1;
    transform: translateX(0); /* Move de volta para a posição original da direita */
}