
@media only screen and (max-width: 320px){

.nav-bar {
    height: 6vh;
    margin-bottom: 0%;
    margin-top: 0%;
}

.nav-title {
    width: 100%;
    font-size: 3.2vh;
    margin: 0 auto; /* Margem à esquerda */
    text-align: center;
}

.icons-bar {
    display: none;
}

}

@media only screen and (min-width: 321px) and (max-width: 480px){

    .nav-bar {
        height: 6vh;
        margin-bottom: 0%;
        margin-top: 0%;
    }
    
    .nav-title {
        width: 100%;
        font-size: 3.2vh;
        margin: 0 auto; /* Margem à esquerda */
        text-align: center;
    }
    
    .icons-bar {
        display: none;
    }
    
}

@media only screen and (min-width: 375px) and (max-width: 715px){

    .nav-bar {
        height: 6vh;
        margin-bottom: 0%;
        margin-top: 0%;
    }
    
    .nav-title {
        width: 100%;
        font-size: 3.2vh;
        margin: 0 auto; /* Margem à esquerda */
        text-align: center;
    }
    
    .icons-bar {
        display: none;
    }
    
}

@media only screen and (min-width: 715px) and (max-width: 1260px){

    .nav-bar {
        height: 8vh;
        margin-bottom: 0%;
        margin-top: 0%;
    }
    
    .nav-title {
        width: 70%;
        font-size: 3vh;
        margin: 5 auto; /* Margem à esquerda */
        text-align: left;
    }
    
    .icons-bar {
        margin: 5 auto; /* Margem à esquerda */
        display: flex;
    }
    
    /* Estilo para as imagens na barra de ícones */
    .img-bar {
        width: 2.1rem; /* Largura das imagens */
        height: 2.1rem; /* Altura das imagens */
        margin: 0.2rem; /* Margem das imagens */
        transition: 0.4s ease-in-out; /* Transição suave */
    }
    
    /* Efeito ao passar o mouse nas imagens da barra de ícones */
    .img-bar:hover {
        width: 1.8rem; /* Aumenta a largura ao passar o mouse */
        height: 1.8rem; /* Aumenta a altura ao passar o mouse */
        margin: 0.3rem; /* Aumenta a margem ao passar o mouse */
        transition: 0.2s; /* Transição mais curta */
        transform: translateX(-0rem) translateY(-0rem); /* Move a imagem um pouco ao passar o mouse */
        cursor: url('/img/icons/cursor-a.png'), auto; /* Define um cursor personalizado */
    }
}  

@media only screen and (min-width: 1261px) and (max-width: 2260px){

    .nav-bar {
        height: 8vh;
        margin-bottom: 0%;
        margin-top: 0%;
    }
    
    .nav-title {
        width: 70%;
        font-size: 4.2vh;
        margin: 5 auto; /* Margem à esquerda */
        text-align: left;
    }
    
    .icons-bar {
        margin: 5 auto; /* Margem à esquerda */
        display: flex;
    }
    
    /* Estilo para as imagens na barra de ícones */
    .img-bar {
        width: 2.4rem; /* Largura das imagens */
        height: 2.4rem; /* Altura das imagens */
        margin: 0.2rem; /* Margem das imagens */
        transition: 0.4s ease-in-out; /* Transição suave */
    }
    
    /* Efeito ao passar o mouse nas imagens da barra de ícones */
    .img-bar:hover {
        width: 2.5rem; /* Aumenta a largura ao passar o mouse */
        height: 2.5rem; /* Aumenta a altura ao passar o mouse */
        margin: 0.3rem; /* Aumenta a margem ao passar o mouse */
        transition: 0.2s; /* Transição mais curta */
        transform: translateX(-0rem) translateY(-0rem); /* Move a imagem um pouco ao passar o mouse */
        cursor: url('/img/icons/cursor-a.png'), auto; /* Define um cursor personalizado */
    }
} 
