@media only screen and (max-width: 480px){

    
    .pet{
        width: 1.8rem;
        height: 1.8rem;
        z-index: 1000;
        margin-bottom: 5px;
        margin-right: 10px;
        }

        .pet2{
            width: 1.8rem;
            height: 1.8rem;
            z-index: 1000;
            margin-bottom: 5px;
            margin-right: 45px;
            }

            .pet3{
                width: 1.8rem;
                height: 1.8rem;
                z-index: 1000;
                margin-bottom: 5px;
                margin-right: 80px;
                }
        
                .pet4{
                    width: 1.8rem;
                    height: 1.8rem;
                    z-index: 1000;
                    margin-bottom: 5px;
                    margin-right: 115px;
                    }
}


@media only screen and (min-width: 481px) and (max-width: 720px){
    .pet{
        width: 2rem;
        height: 2rem;
        z-index: 1000;
        margin-bottom: 20px;
        margin-right: 5px;
        }

        .pet2{
            width: 2rem;
            height: 2rem;
            z-index: 1000;
            margin-bottom: 60px;
            margin-right: 5px;
            }

            .pet3{
                width: 2rem;
                height: 2rem;
                z-index: 1000;
                margin-bottom: 100px;
                margin-right: 5px;
                }
        
                .pet4{
                    width: 2rem;
                    height: 2rem;
                    z-index: 1000;
                    margin-bottom: 140px;
                    margin-right: 5px;
                    }}

@media only screen and (min-width: 721px) and (max-width: 1260px){
    .pet{
        width: 3.5rem;
        height: 3.5rem;
        z-index: 1000;
        margin-bottom: 20px;
        margin-right: 15px;
        }

        .pet2{
            width: 3.5rem;
            height: 3.5rem;
            z-index: 1000;
            margin-bottom: 100px;
            margin-right: 15px;
            }

            .pet3{
                width: 3.5rem;
                height: 3.5rem;
                z-index: 1000;
                margin-bottom: 180px;
                margin-right: 15px;
                }
        
                .pet4{
                    width: 3.5rem;
                    height: 3.5rem;
                    z-index: 1000;
                    margin-bottom: 260px;
                    margin-right: 15px;
                    }
}

@media only screen and (min-width: 1261px) and (max-width: 2260px){
    .pet{
        width: 2.5rem;
        height: 2.5rem;
        z-index: 1000;
        margin-bottom: 20px;
        margin-right: 10px;
        }

        .pet2{
            width: 2.5rem;
            height: 2.5rem;
            z-index: 1000;
            margin-bottom: 80px;
            margin-right: 10px;
            }

            .pet3{
                width: 2.5rem;
                height: 2.5rem;
                z-index: 1000;
                margin-bottom: 140px;
                margin-right: 10px;
                }
        
                .pet4{
                    width: 2.5rem;
                    height: 2.5rem;
                    z-index: 1000;
                    margin-bottom: 200px;
                    margin-right: 10px;
                    }
    }