@media only screen and (max-width: 375px) {
    /* Estilo para a seção "sobre mim" */
    .sobre-mim {
        margin-top: 25%; /* Ajusta a margem superior do contêiner pai */
    }

    /* Estilo para a imagem "sobre mim" */
    .img-sobre-mim {
        margin-left: 22%; /* Ajusta a margem à esquerda do contêiner pai */
        width: 50%;
        height: 50%;
        margin-top: 30%; /* Ajusta a margem superior do contêiner pai */
        transform: scale(1); /* Aplica uma escala normal à imagem */
        display: block;
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
    }

    /* Estilo para o título "sobre mim" */
    .title-sobre-mim {
        font-size: 2.5vh; /* Tamanho da fonte como 2.5% da altura da viewport */
    }

    /* Estilo para o parágrafo "sobre mim" */
    .paragraph-sobre-mim {
        font-size: 1.2vh; /* Tamanho da fonte como 1.2% da altura da viewport */
        border-radius: 1.5px;
        width: 80%;
        padding: 2vh;
        margin: 0 auto;
        text-align: justify;
        margin-top: 5%;
    }

    /* Estilo para o parágrafo de tutorial */
    .tutorial {
        font-size: 1vh;
        text-align: center;
        border-radius: 1.5px;
        width: 80%;
        padding: 4vh;
        margin: 0 auto;
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 376px) and (max-width: 650px) {

    /* Estilo para a seção "sobre mim" */
    .sobre-mim {
        margin-top: 15%;
    }

    /* Estilo para a imagem "sobre mim" */
    .img-sobre-mim {
        margin-left: 22%;
        width: 40%;
        height: 40%;
        margin-top: 20%;
        scale: 1;
        display: block;
        margin: 0 auto;
    }

    /* Estilo para o título "sobre mim" */
    .title-sobre-mim {
        font-size: 4vh;
    }

    /* Estilo para o parágrafo "sobre mim" */
    .paragraph-sobre-mim {
        font-size: 2vh;
        border-radius: 1.5px;
        width: 80%;
        padding: 2vh;
        margin: 0 auto;
        margin-top: 5%;
    }

    /* Estilo para o parágrafo de tutorial */
    .tutorial {
        font-size: 2.5vh;
        border-radius: 1.5px;
        width: 80%;
        padding: 2vh;
        margin: 0 auto;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 651px) and (max-width: 1200px) {

    /* Estilo para a seção "sobre mim" */
    .sobre-mim {
        margin-top: 15%;
    }

    /* Estilo para a imagem "sobre mim" */
    .img-sobre-mim {
        margin-left: 22%;
        width: 30%;
        height: 30%;
        margin-top: 25%;
        scale: 1;
        display: block;
        margin: 0 auto;
    }

    /* Estilo para o título "sobre mim" */
    .title-sobre-mim {
        font-size: 5.5vh;
    }

    /* Estilo para o parágrafo "sobre mim" */
    .paragraph-sobre-mim {
        font-size: 2.2vh;
        border-radius: 1.5px;
        width: 80%;
        padding: 2vh;
        margin: 0 auto;
    }

    /* Estilo para o parágrafo de tutorial */
    .tutorial {
        font-size: 1.6vh;
        border-radius: 1.5px;
        width: 80%;
        padding: 2vh;
        margin: 0 auto;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 2000px) {

    /* Estilo para a seção "sobre mim" */
    .sobre-mim {
        margin-top: 10%;
    }

    /* Estilo para a imagem "sobre mim" */
    .img-sobre-mim {
        margin-left: 22%;
        width: 20%;
        margin-top: 15%;
        scale: 1;
        display: block;
        margin: 0 auto;
    }

    /* Estilo para o título "sobre mim" */
    .title-sobre-mim {
        font-size: 6vh;
    }

    /* Estilo para o parágrafo "sobre mim" */
    .paragraph-sobre-mim {
        font-size: 2.8vh;
        border-radius: 1.5px;
        width: 80%;
        padding: 2vh;
        margin: 0 auto;
    }

    /* Estilo para o parágrafo de tutorial */
    .tutorial {
        font-size: 2vh;
        border-radius: 1.5px;
        width: 80%;
        padding: 2vh;
        margin: 0 auto;
        margin-bottom: 5%;
    }
}