@media only screen and (max-width: 375px) {
    /* Estilo para a imagem da seção 5 */
    .section-5-img {
        height: 45%; /* Altura da imagem em 25% da altura da tela */
        width: 70%;
        border-radius: 1vh; /* Raio da borda em 1% da altura da tela */
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
        margin-bottom: 2%; /* Margem inferior de 2% da altura da tela */
    }

    /* Estilo para o título da seção 5 */
    .section-5-title {
        font-size: 1.8rem; /* Tamanho da fonte */
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os subtítulos da seção 5 */
    .section-5-h4 {
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section-5-h5{
        font-size: 0.5rem; /* Tamanho da fonte em rem */
        opacity: 0.5;
        color: #ffffff; /* Cor do texto */
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        line-height: 1.2; /* Altura da linha */
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os parágrafos da seção 5 */
    .section-5-p {
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }

    /* Estilo para as imagens de ícones na seção 5 */
    .icons-img-section-5 {
        width: 7.5vw; /* Largura relativa à largura da tela */
        height: 7.5vw; /* Altura relativa à largura da tela */
        margin: 1vw; /* Margem relativa à largura da tela */
        margin-top: 10%;
        transition: 0.4s ease-in-out;
    }

    /* Efeito hover para as imagens de ícones na seção 5 */
    .icons-img-section-5:hover {
        width: 7.2vw; /* Largura relativa à largura da tela */
        height: 7.2vw; /* Altura relativa à largura da tela */
        margin: 0.4vw; /* Margem relativa à largura da tela */
        transition: 0.2s;
        transform: translateX(-0rem) translateY(-0rem); /* Translação relativa à largura da tela */
        cursor: url('/img/icons/cursor-a.png'), auto;
    }

    .sushi-img-1{
        width: 35%;
        margin-top: 2.5%;
        margin-bottom: 5%;
        padding: 0;
    }
    
    .sushi-img-2{
        width: 70%;
        height: auto;
        display: block;
        border-radius: 5px;
        margin: 0 auto;
    }
    
    
    .sushi-img-3{
        width: 70%;
        margin-left: 15%;
        border-radius: 5px;
        margin-top: 3%;
        height: auto;
        display: block;
        transition: transform 0.5s ease;
    }
    
    .sushi-p-1{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }
    
    .sushi-p-2{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .img-eduk-logo{
        width: 35%;
        margin-top: 2.5%;
        margin-bottom: 5%;
        padding: 0;
    }
    
    .eduk-p{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section5-1{
        border-top: 1px solid #ffffff;
        align-items: center;
    }
    
    .imgs-ifrj{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5%;
    }
    
    .img-ifrj-img{
        width: 80%;
        display: none;
        height: auto;
        margin-right: 1%;
    }
    .img-ifrj-img2{
        width: 40%;
        margin-top: 2%;
        height: auto;
        display: block;
        margin-left: 1%;
    }
    
    .img-ifrj-img3{
        width: 20%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    #link2{
        margin-top: -5% !important;
    }
    
    .ifrj-p{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

}

/* Estilo para telas com largura entre 376px e 650px */
@media only screen and (min-width: 376px) and (max-width: 650px) {
    /* Estilo para a imagem da seção 5 */
    .section-5-img {
        height: 50%; /* Altura da imagem em 25% da altura da tela */
        width: 70%;
        border-radius: 1vh;
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
        margin-bottom: 2%;
    }

    /* Estilo para o título da seção 5 */
    .section-5-title {
        font-size: 2rem; /* Tamanho da fonte */
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os subtítulos da seção 5 */
    .section-5-h4 {
        font-size: 2.8vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section-5-h5{
        font-size: 0.8rem; /* Tamanho da fonte em rem */
        opacity: 0.5;
        color: #ffffff; /* Cor do texto */
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        line-height: 1.2; /* Altura da linha */
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os parágrafos da seção 5 */
    .section-5-p {
        font-size: 2.5vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-bottom: 15%;
        margin-top: 5%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }

    /* Estilo para as imagens de ícones na seção 5 */
    .icons-img-section-5 {
        width: 7.5vw; /* Largura relativa à largura da tela */
        height: 7.5vw; /* Altura relativa à largura da tela */
        margin: 1vw; /* Margem relativa à largura da tela */
        margin-top: 2%;
        transition: 0.4s ease-in-out;
    }

    /* Efeito hover para as imagens de ícones na seção 5 */
    .icons-img-section-5:hover {
        width: 7.2vw; /* Largura relativa à largura da tela */
        height: 7.2vw; /* Altura relativa à largura da tela */
        margin: 0.4vw; /* Margem relativa à largura da tela */
        transition: 0.2s;
        transform: translateX(-0rem) translateY(-0rem); /* Translação relativa à largura da tela */
        cursor: url('/img/icons/cursor-a.png'), auto;
    }

    .sushi-img-1{
        width: 30%;
        margin-bottom: 5%;
    }
    
    .sushi-img-2{
        width: 80%;
        height: auto;
        display: block;
        border-radius: 5px;
        margin: 0 auto;
    }
    
    
    .sushi-img-3{
        width: 80%;
        margin-left: 10%;
        border-radius: 5px;
        margin-top: 3%;
        height: auto;
        display: block;
        transition: transform 0.5s ease;
    }
    
    .sushi-p-1{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 15%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }
    
    .sushi-p-2{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .img-eduk-logo{
        width: 30%;
        margin-bottom: 5%;
    }
    
    .eduk-p{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 15%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }

    .section5-1{
        border-top: 1px solid #ffffff;
        align-items: center;
    }
    
    .imgs-ifrj{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5%;
    }
    
    .img-ifrj-img{
        width: 80%;
        display: none;
        height: auto;
        margin-right: 1%;
    }
    .img-ifrj-img2{
        width: 40%;
        margin-top: 2%;
        height: auto;
        display: block;
        margin-left: 1%;
        margin-bottom: 5%;
    }
    
    .img-ifrj-img3{
        width: 20%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    #link2{
        margin-top: -5% !important;
    }
    
    .ifrj-p{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 15%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }

}

/* Estilo para telas com largura entre 651px e 1200px */
@media only screen and (min-width: 651px) and (max-width: 1200px) {
    /* Estilo para a imagem da seção 5 */
    .section-5-img {
        height: 60%; /* Altura da imagem em 25% da altura da tela */
        width:50%;
        border-radius: 1vh;
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
        margin-bottom: 2%;
    }

    /* Estilo para o título da seção 5 */
    .section-5-title {
        font-size: 3.2rem; /* Tamanho da fonte */
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os subtítulos da seção 5 */
    .section-5-h4 {
        font-size: 3.3vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section-5-h5{
        font-size: 1rem; /* Tamanho da fonte em rem */
        opacity: 0.5;
        color: #ffffff; /* Cor do texto */
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        line-height: 1.2; /* Altura da linha */
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os parágrafos da seção 5 */
    .section-5-p {
        font-size: 3vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-bottom: 10%;
        margin-top: 5%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }

    /* Estilo para as imagens de ícones na seção 5 */
    .icons-img-section-5 {
        width: 5.5vw; /* Largura relativa à largura da tela */
        height: 5.5vw; /* Altura relativa à largura da tela */
        margin: 0.5vw; /* Margem relativa à largura da tela */
        margin-top: 2%;
        transition: 0.4s ease-in-out;
    }

    /* Efeito hover para as imagens de ícones na seção 5 */
    .icons-img-section-5:hover {
        width: 5vw; /* Largura relativa à largura da tela */
        height: 5vw; /* Altura relativa à largura da tela */
        margin: 0.4vw; /* Margem relativa à largura da tela */
        transition: 0.2s;
        transform: translateX(-0rem) translateY(-0rem); /* Translação relativa à largura da tela */
        cursor: url('/img/icons/cursor-a.png'), auto;
    }

    .sushi-img-1{
        width: 15%;
        margin-bottom: 5%;
    }
    
    .sushi-img-2{
        width: 60%;
        height: auto;
        display: block;
        border-radius: 5px;
        margin: 0 auto;
    }
    
    
    .sushi-img-3{
        width: 60%;
        margin-left: 20%;
        border-radius: 5px;
        margin-top: 3%;
        height: auto;
        display: block;
        transition: transform 0.5s ease;
    }
    
    .sushi-p-1{
        font-size: 2.8vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 75%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: -5%;
        margin-bottom: 3%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }
    
    .sushi-p-2{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 3%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .img-eduk-logo{
        width: 15%;
        margin-bottom: 5%;
    }
    
    .eduk-p{
        font-size: 2.8vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 75%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: -5%;
        margin-bottom: 3%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }

    .section5-1{
        border-top: 1px solid #ffffff;
        align-items: center;
    }
    
    .imgs-ifrj{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5%;
    }
    
    .img-ifrj-img{
        width: 40%;
        display: none;
        height: auto;
        margin-right: 1%;
    }
    .img-ifrj-img2{
        width: 20%;
        margin-top: 2%;
        height: auto;
        display: block;
        margin-left: 1%;
        margin-bottom: 15%;
    }
    
    .img-ifrj-img3{
        width: 20%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    #link2{
        margin-top: 2% !important;
    }
    
    .ifrj-p{
        font-size: 2.8vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 75%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: -5%;
        margin-bottom: 3%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }

}

/* Estilo para telas com largura entre 1201px e 2000px */
@media only screen and (min-width: 1201px) and (max-width: 2000px) {
    /* Estilo para a imagem da seção 5 */
    .section-5-img {
        height: 40%; /* Altura da imagem em 25% da altura da tela */
        width: 40%;
        border-radius: 1vh;
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
        margin-bottom: 2%;
    }

    /* Estilo para o título da seção 5 */
    .section-5-title {
        font-size: 4rem; /* Tamanho da fonte */
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os subtítulos da seção 5 */
    .section-5-h4 {
        font-size: 3vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section-5-h5{
        font-size: 1rem; /* Tamanho da fonte em rem */
        opacity: 0.5;
        color: #ffffff; /* Cor do texto */
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        line-height: 1.2; /* Altura da linha */
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os parágrafos da seção 5 */
    .section-5-p {
        font-size: 2.8vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 75%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 3%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }

    /* Estilo para as imagens de ícones na seção 5 */
    .icons-img-section-5 {
        width: 4vw; /* Largura relativa à largura da tela */
        height: 4vw; /* Altura relativa à largura da tela */
        margin: 0.5vw; /* Margem relativa à largura da tela */
        margin-top: 2%;
        transition: 0.4s ease-in-out;
    }

    /* Efeito hover para as imagens de ícones na seção 5 */
    .icons-img-section-5:hover {
        width: 3.7vw; /* Largura relativa à largura da tela */
        height: 3.7vw; /* Altura relativa à largura da tela */
        margin: 0.4vw; /* Margem relativa à largura da tela */
        transition: 0.2s;
        transform: translateX(-0rem) translateY(-0rem); /* Translação relativa à largura da tela */
        cursor: url('/img/icons/cursor-a.png'), auto;
    }


    .sushi-img-1{
        width: 10%;
        margin-bottom: 2%;
    }
    
    .sushi-img-2{
        width: 60%;
        height: auto;
        display: block;
        border-radius: 5px;
        margin: 0 auto;
    }
    
    
    .sushi-img-3{
        width: 60%;
        margin-left: 20%;
        border-radius: 5px;
        margin-top: 3%;
        height: auto;
        display: block;
        transition: transform 0.5s ease;
    }
    
    .sushi-p-1{
        font-size: 2.8vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 75%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 0%;
        margin-bottom: 3%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }
    
    .sushi-p-2{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 3%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .img-eduk-logo{
        width: 10%;
        margin-bottom: 2%;
        
    }
    
    .eduk-p{
        font-size: 2.8vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 75%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 0%;
        margin-bottom: 3%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }

    .section5-1{
        border-top: 1px solid #8841ff;
        align-items: center;
    }
    
    .imgs-ifrj{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }
    
    .img-ifrj-img{
        width: 40%;
        height: auto;
        display: block;
        margin-right: 1%;
    }
    .img-ifrj-img2{
        width: 10%;
        height: auto;
        display: block;
        margin-left: 1%;
    }
    
    .img-ifrj-img3{
        width: 20%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    
    .ifrj-p{
        font-size: 1.5rem; /* Tamanho da fonte em rem */
        width: 100.5rem; /* Largura do parágrafo em rem */
        opacity: 0.8;
        color: #ffffff; /* Cor do texto */
        box-shadow: 1px 1px 20px 1px black; /* Sombra do parágrafo com desfoque */
        border-radius: 0.5rem; /* Borda circular do parágrafo em rem */
        padding: 1rem; /* Preenchimento em rem */
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        line-height: 1.2; /* Altura da linha */
        margin-top: 2%; /* Margem superior negativa */
        margin-left: 7%; /* Margem à esquerda */
        text-align: center; /* Alinhamento do texto ao centro */
    }


}
