@media only screen and (max-width: 375px) {
    /* Estilo para a imagem da seção 5 */
    .section-5-img {
        height: 55%; /* Altura da imagem em 25% da altura da tela */
        width: 100%;
        border-radius: 0vh; /* Raio da borda em 1% da altura da tela */
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
        margin-bottom: 2%; /* Margem inferior de 2% da altura da tela */
    }

    .lista-projetos{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 2%;
        height: 100%;
        flex-wrap: wrap;
        overflow: hidden;
    }
    
    .proj1{
        width: 80%;
        height: 100%;
        border-radius: 5%;
        margin: 5px;
        background-color: #0F294B;
    }

    /* Estilo para o título da seção 5 */
    .section-5-title {
        font-size: 1.8rem; /* Tamanho da fonte */
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os subtítulos da seção 5 */
    .section-5-h4 {
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section-5-h5{
        font-size: 0.5rem; /* Tamanho da fonte em rem */
        opacity: 0.5;
        color: #ffffff; /* Cor do texto */
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        line-height: 1.2; /* Altura da linha */
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os parágrafos da seção 5 */
    .section-5-p {
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 8%;
        margin-bottom: 15%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }

    /* Estilo para as imagens de ícones na seção 5 */
    .icons-img-section-5 {
        width: 6.5vw; /* Largura relativa à largura da tela */
        height: 6.5vw; /* Altura relativa à largura da tela */
        margin: 0vw; /* Margem relativa à largura da tela */
        margin-top: 0%;
        transition: 0.4s ease-in-out;
    }

    /* Efeito hover para as imagens de ícones na seção 5 */
    .icons-img-section-5:hover {
        width: 7.2vw; /* Largura relativa à largura da tela */
        height: 7.2vw; /* Altura relativa à largura da tela */
        margin: 0.4vw; /* Margem relativa à largura da tela */
        transition: 0.2s;
        transform: translateX(-0rem) translateY(-0rem); /* Translação relativa à largura da tela */
        cursor: url('/img/icons/cursor-a.png'), auto;
    }

    .sushi-img-1{
        width: 25%;
        margin-top: 3%;
        margin-bottom: 0%;
        padding: 0;
    }
    
    .sushi-img-2{
        width: 70%;
        height: auto;
        display: block;
        border-radius: 5px;
        margin: 0 auto;
    }
    
    
    .sushi-img-3{
        width: 70%;
        margin-left: 15%;
        border-radius: 5px;
        margin-top: 3%;
        height: auto;
        display: block;
        transition: transform 0.5s ease;
    }
    
    .sushi-p-1{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }
    
    .sushi-p-2{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .img-eduk-logo{
        width: 35%;
        margin-top: 2.5%;
        margin-bottom: 5%;
        padding: 0;
    }
    
    .eduk-p{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section5-1{
        border-top: 1px solid #ffffff;
        align-items: center;
    }
    
    .imgs-ifrj{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5%;
    }
    
    .img-ifrj-img{
        width: 80%;
        display: none;
        height: auto;
        margin-right: 1%;
    }
    .img-ifrj-img2{
        width: 40%;
        margin-top: 2%;
        height: auto;
        display: block;
        margin-left: 1%;
    }
    
    .img-ifrj-img3{
        width: 20%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    #link2{
        margin-top: -5% !important;
    }
    
    .ifrj-p{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

}

/* Estilo para telas com largura entre 376px e 650px */
@media only screen and (min-width: 376px) and (max-width: 650px) {
    .section-5-img {
        height: 55%; /* Altura da imagem em 25% da altura da tela */
        width: 100%;
        border-radius: 0vh; /* Raio da borda em 1% da altura da tela */
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
        margin-bottom: 2%; /* Margem inferior de 2% da altura da tela */
    }

    .lista-projetos{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 2%;
        height: 100%;
        flex-wrap: wrap;
        overflow: hidden;
    }
    
    .proj1{
        width: 80%;
        height: 100%;
        border-radius: 5%;
        margin: 5px;
        background-color: #0F294B;
    }

    /* Estilo para o título da seção 5 */
    .section-5-title {
        font-size: 1.8rem; /* Tamanho da fonte */
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os subtítulos da seção 5 */
    .section-5-h4 {
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section-5-h5{
        font-size: 0.5rem; /* Tamanho da fonte em rem */
        opacity: 0.5;
        color: #ffffff; /* Cor do texto */
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        line-height: 1.2; /* Altura da linha */
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os parágrafos da seção 5 */
    .section-5-p {
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 8%;
        margin-bottom: 15%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }

    /* Estilo para as imagens de ícones na seção 5 */
    .icons-img-section-5 {
        width: 6.5vw; /* Largura relativa à largura da tela */
        height: 6.5vw; /* Altura relativa à largura da tela */
        margin: 0vw; /* Margem relativa à largura da tela */
        margin-top: 0%;
        transition: 0.4s ease-in-out;
    }

    /* Efeito hover para as imagens de ícones na seção 5 */
    .icons-img-section-5:hover {
        width: 7.2vw; /* Largura relativa à largura da tela */
        height: 7.2vw; /* Altura relativa à largura da tela */
        margin: 0.4vw; /* Margem relativa à largura da tela */
        transition: 0.2s;
        transform: translateX(-0rem) translateY(-0rem); /* Translação relativa à largura da tela */
        cursor: url('/img/icons/cursor-a.png'), auto;
    }

    .sushi-img-1{
        width: 25%;
        margin-top: 3%;
        margin-bottom: 0%;
        padding: 0;
    }
    
    .sushi-img-2{
        width: 70%;
        height: auto;
        display: block;
        border-radius: 5px;
        margin: 0 auto;
    }
    
    
    .sushi-img-3{
        width: 70%;
        margin-left: 15%;
        border-radius: 5px;
        margin-top: 3%;
        height: auto;
        display: block;
        transition: transform 0.5s ease;
    }
    
    .sushi-p-1{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }
    
    .sushi-p-2{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .img-eduk-logo{
        width: 35%;
        margin-top: 2.5%;
        margin-bottom: 5%;
        padding: 0;
    }
    
    .eduk-p{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section5-1{
        border-top: 1px solid #ffffff;
        align-items: center;
    }
    
    .imgs-ifrj{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5%;
    }
    
    .img-ifrj-img{
        width: 80%;
        display: none;
        height: auto;
        margin-right: 1%;
    }
    .img-ifrj-img2{
        width: 40%;
        margin-top: 2%;
        height: auto;
        display: block;
        margin-left: 1%;
    }
    
    .img-ifrj-img3{
        width: 20%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    #link2{
        margin-top: -5% !important;
    }
    
    .ifrj-p{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }
}

/* Estilo para telas com largura entre 651px e 1200px */
@media only screen and (min-width: 651px) and (max-width: 1200px) {
    /* Estilo para a imagem da seção 5 */
    .section-5-img {
        height: 55%; /* Altura da imagem em 25% da altura da tela */
        width: 100%;
        border-radius: 0vh; /* Raio da borda em 1% da altura da tela */
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
        margin-bottom: 2%; /* Margem inferior de 2% da altura da tela */
    }

    .lista-projetos{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 2%;
        height: 100%;
        flex-wrap: wrap;
        overflow: hidden;
    }
    
    .proj1{
        width: 50%;
        height: 40%;
        border-radius: 5%;
        margin: 5px;
        background-color: #0F294B;
    }

    /* Estilo para o título da seção 5 */
    .section-5-title {
        font-size: 1.8rem; /* Tamanho da fonte */
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os subtítulos da seção 5 */
    .section-5-h4 {
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section-5-h5{
        font-size: 0.5rem; /* Tamanho da fonte em rem */
        opacity: 0.5;
        color: #ffffff; /* Cor do texto */
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        line-height: 1.2; /* Altura da linha */
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os parágrafos da seção 5 */
    .section-5-p {
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 8%;
        margin-bottom: 15%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }

    /* Estilo para as imagens de ícones na seção 5 */
    .icons-img-section-5 {
        width: 6.5vw; /* Largura relativa à largura da tela */
        height: 6.5vw; /* Altura relativa à largura da tela */
        margin: 0vw; /* Margem relativa à largura da tela */
        margin-top: 0%;
        transition: 0.4s ease-in-out;
    }

    /* Efeito hover para as imagens de ícones na seção 5 */
    .icons-img-section-5:hover {
        width: 7.2vw; /* Largura relativa à largura da tela */
        height: 7.2vw; /* Altura relativa à largura da tela */
        margin: 0.4vw; /* Margem relativa à largura da tela */
        transition: 0.2s;
        transform: translateX(-0rem) translateY(-0rem); /* Translação relativa à largura da tela */
        cursor: url('/img/icons/cursor-a.png'), auto;
    }

    .sushi-img-1{
        width: 25%;
        margin-top: 3%;
        margin-bottom: 0%;
        padding: 0;
    }
    
    .sushi-img-2{
        width: 70%;
        height: auto;
        display: block;
        border-radius: 5px;
        margin: 0 auto;
    }
    
    
    .sushi-img-3{
        width: 70%;
        margin-left: 15%;
        border-radius: 5px;
        margin-top: 3%;
        height: auto;
        display: block;
        transition: transform 0.5s ease;
    }
    
    .sushi-p-1{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }
    
    .sushi-p-2{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .img-eduk-logo{
        width: 35%;
        margin-top: 2.5%;
        margin-bottom: 5%;
        padding: 0;
    }
    
    .eduk-p{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section5-1{
        border-top: 1px solid #ffffff;
        align-items: center;
    }
    
    .imgs-ifrj{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5%;
    }
    
    .img-ifrj-img{
        width: 80%;
        display: none;
        height: auto;
        margin-right: 1%;
    }
    .img-ifrj-img2{
        width: 40%;
        margin-top: 2%;
        height: auto;
        display: block;
        margin-left: 1%;
    }
    
    .img-ifrj-img3{
        width: 20%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    #link2{
        margin-top: -5% !important;
    }
    
    .ifrj-p{
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

}

/* Estilo para telas com largura entre 1201px e 2000px */
@media only screen and (min-width: 1201px) and (max-width: 2000px) {
    /* Estilo para a imagem da seção 5 */
    .section-5-img {
        height: 40%;
        width: 90%;
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
        margin-bottom: 2%;
    }

    /* Estilo para o título da seção 5 */
    .section-5-title {
        font-size: 3rem; /* Tamanho da fonte */
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os subtítulos da seção 5 */
    .section-5-h4 {
        font-size: 2.5vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 90%; /* Largura do parágrafo em porcentagem */
        padding: 1vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 0%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section-5-h5{
        font-size: 2.5rem; /* Tamanho da fonte em rem */
        opacity: 1;
        color: #ffffff; /* Cor do texto */
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        line-height: 1.2; /* Altura da linha */
        margin-top: 3%;
        margin-bottom: -0%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para as imagens de ícones na seção 5 */
    .icons-img-section-5 {
        width: 3vw; /* Largura relativa à largura da tela */
        height: 3vw; /* Altura relativa à largura da tela */
        margin: 2px; /* Margem relativa à largura da tela */
        margin-top: 0%;
        transition: 0.4s ease-in-out;
    }

    /* Efeito hover para as imagens de ícones na seção 5 */
    .icons-img-section-5:hover {
        width: 2.7vw; /* Largura relativa à largura da tela */
        height: 2.7vw; /* Altura relativa à largura da tela */
        margin: 0.4vw; /* Margem relativa à largura da tela */
        transition: 0.2s;
        transform: translateX(-0rem) translateY(-0rem); /* Translação relativa à largura da tela */
        cursor: url('/img/icons/cursor-a.png'), auto;
    }


    .sushi-img-1{
        width: 20%;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    

}
