@media only screen and (max-width: 375px) {

    /* Estilo para o título da seção 6 */
    .section-6-title {
        font-size: 1.8rem; /* Tamanho da fonte */
        margin-bottom: 15%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    
    /* Estilo para os subtítulos da seção 6 */
    .section-6-h1 {
        font-size: 4vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }


    /* Estilo para os parágrafos da seção 6 */
    .section-6-p {
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 2%;
        margin-bottom: 3%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }


    .img-1-sec-6{
        width: 35%;
        margin-top: 2.5%;
        margin-bottom: 5%;
        padding: 0;
    }

    .img-01-sec-6{
        width: 45%;
        margin-top: -15%;
        margin-bottom: -15%;
        padding: 0;
    }
    

}

@media only screen and (min-width: 376px) and (max-width: 650px) {

    /* Estilo para o título da seção 5 */
    .section-6-title {
        font-size: 2.4rem; /* Tamanho da fonte */
        text-align: center; /* Alinhamento do texto ao centro */
    }


    .section-6-h1{
        font-size: 5vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }

    /* Estilo para os parágrafos da seção 5 */
    .section-6-p {
        font-size: 2.5vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-bottom: 2%;
        margin-top: 1%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }


    .img-1-sec-6{
        width: 30%;
        margin-bottom: 2%;
        margin-top: 5%;
    }

    .img-01-sec-6{
        width: 40%;
        margin-bottom: -15%;
        margin-top: -5%;
    }
    
}

@media only screen and (min-width: 651px) and (max-width: 1200px) {

    .section-6-title {
        font-size: 5.2rem; /* Tamanho da fonte */
        text-align: center; /* Alinhamento do texto ao centro */
    }


    .section-6-h1 {
        font-size: 4.4vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }


    /* Estilo para os parágrafos da seção 5 */
    .section-6-p {
        font-size: 2vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-bottom: 1%;
        margin-top: 2%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }


    .img-1-sec-6{
        width: 25%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .img-01-sec-6{
        width: 35%;
        margin-bottom: -15%;
        margin-top: -10%;
    }
    

}

@media only screen and (min-width: 1201px) and (max-width: 2000px) {

    /* Estilo para o título da seção 5 */
    .section-6-title {
        font-size: 4rem; /* Tamanho da fonte */
        text-align: center; /* Alinhamento do texto ao centro */
    }

    .section-6-h1 {
        font-size: 7vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }


    /* Estilo para os parágrafos da seção 5 */
    .section-6-p {
        font-size: 3.5vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 1.2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-bottom: -3%;
        
        margin-top: 4%;
        text-align: justify; /* Alinhamento do texto ao centro */
    }


    .img-1-sec-6{
        width: 12%;
        margin-bottom: -3%;
        margin-top: 3%;
    }

    .img-01-sec-6{
        width: 22%;
        margin-bottom: -10%;
        margin-top: -4%;
    }


}