@media only screen and (max-width: 375px){

.topic-1 {
    width: 100%; /* Largura total do tópico 1 */
    height: 100%; /* Altura total do tópico 1 */
    margin: 0 auto;
    columns: 1;
}

/* Estilo para a segunda imagem no tópico 1 */
.topic-1-img-02 {
    width: 40%; /* Largura da imagem em porcentagem */
    height: 40%; /* Altura da imagem em porcentagem */
    margin: 0 auto;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    display: flex;
}

/* Efeito ao passar o mouse na segunda imagem do tópico 1 */
.topic-1-img-02:hover {
    transform: translateX(0%) scale(1.1); /* Move e aumenta a imagem ao passar o mouse */
}

/* Estilo para o título do tópico 1 */
.topic-1-title {
    font-size: 5vh; /* Tamanho da fonte em porcentagem */
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
}

/* Estilo para o primeiro parágrafo do tópico 1 */
.topic-1-paragraph-1 {
    font-size: 2vh; /* Tamanho da fonte em porcentagem */
    border-radius: 1.5px;
    width: 80%; /* Largura do parágrafo em porcentagem */
    padding: 2vh; /* Preenchimento em porcentagem */
    margin: 0 auto;
    margin-top: 5%;
}

/* Estilo para o segundo parágrafo do tópico 1 */
.topic-1-paragraph-2 {
    padding: 2vh; /* Preenchimento em porcentagem */
    font-size: 2vh; /* Tamanho da fonte em porcentagem */
    width: 80%; /* Largura do parágrafo em porcentagem */
    margin: 0 auto;
    border-radius: 1.5px;
    margin-top: 5%;
    z-index: 3; /* Ordem de sobreposição */
}

/* Estilo para o título "Desenhos e Imagens" */
.desenhos-imagens {
    font-size: 2vh; /* Tamanho da fonte em porcentagem */
    padding: 1vh; /* Preenchimento em porcentagem */
    margin: 1 auto; /* Margem */
    text-align: center; /* Alinhamento do texto ao centro */
    letter-spacing: 0; /* Espaçamento entre letras */
}

/* Estilo para o contêiner das imagens no tópico 1 */

.pic-ctn {
    position: relative;
    width: 30%;
    display: block;
    height: 30vh;
    margin-top: -10vh;
    margin-bottom: 20%;
    
  }

  .pic-ctn img{
    width: 10rem;
  }

  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 0px);
    opacity: 0;
    animation: display 22s infinite;
  }

  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }

  img:nth-child(6) {
    animation-delay: 10s;
  }
  img:nth-child(7) {
    animation-delay: 12s;
  }
  img:nth-child(8) {
    animation-delay: 14s;
  }
  img:nth-child(9) {
    animation-delay: 16s;
  }

  img:nth-child(10) {
    animation-delay: 18s;
  }
  img:nth-child(11) {
    animation-delay: 20s;
  }
  img:nth-child(12) {
    animation-delay: 22s;
  }

/* Estilo para o parágrafo final do tópico 1 */
.topic-1-p-fim {
    font-size: 1.2vh; /* Tamanho da fonte */
    padding: 4vh; /* Preenchimento */
    opacity: 0;
}
}

@media only screen and (min-width: 376px) and (max-width: 651px){

.topic-1 {
    width: 100%; /* Largura total do tópico 1 */
    height: 100%; /* Altura total do tópico 1 */
    margin: 0 auto;
    columns: 1;
}

/* Estilo para a segunda imagem no tópico 1 */
.topic-1-img-02 {
    width: 50%; /* Largura da imagem em porcentagem */
    height: 40%; /* Altura da imagem em porcentagem */
    margin: 0 auto;
    margin-top: 10%;
    display: block;
}

/* Efeito ao passar o mouse na segunda imagem do tópico 1 */
.topic-1-img-02:hover {
    transform: translateX(0%) scale(1.1); /* Move e aumenta a imagem ao passar o mouse */
}

/* Estilo para o título do tópico 1 */
.topic-1-title {
    font-size: 5vh; /* Tamanho da fonte em porcentagem */
    text-align: center;
    margin: 0;
    margin-top: 1%;
}

/* Estilo para o primeiro parágrafo do tópico 1 */
.topic-1-paragraph-1 {
    font-size: 2vh; /* Tamanho da fonte em porcentagem */
    border-radius: 1.5px;
    width: 90%; /* Largura do parágrafo em porcentagem */
    padding: 2vh; /* Preenchimento em porcentagem */
    margin: 0 auto;
    margin-top: 5%;
    text-align: justify; /* Alinhamento do texto ao centro */
}

/* Estilo para o segundo parágrafo do tópico 1 */
.topic-1-paragraph-2 {
    padding: 2vh; /* Preenchimento em porcentagem */
    font-size: 2.5vh; /* Tamanho da fonte em porcentagem */
    width: 80%; /* Largura do parágrafo em porcentagem */
    text-align: center; /* Alinhamento do texto ao centro */
    margin: 0 auto;
    border-radius: 1.5px;
    margin-top: 5%;
    z-index: 3; /* Ordem de sobreposição */
}

/* Estilo para o título "Desenhos e Imagens" */
.desenhos-imagens {
    font-size: 2vh; /* Tamanho da fonte em porcentagem */
    padding: 1vh; /* Preenchimento em porcentagem */
    margin: 1 auto; /* Margem */
    text-align: center; /* Alinhamento do texto ao centro */
    letter-spacing: 0; /* Espaçamento entre letras */
}

/* Estilo para o contêiner das imagens no tópico 1 */
.topic-1-imgs {
    margin: 0; /* Margem automática nas laterais */
    max-width: 100%; /* Largura máxima */
}

/* Estilo para a primeira imagem no tópico 1 */
.topic-1-img-1 {
    width: 25%; /* Largura da imagem */
    margin: 2px;
}

.topic-1-img-1:hover {
    transform: scale(1.4); /* Aumenta a escala da imagem */
}

/* Estilo para o parágrafo final do tópico 1 */
.topic-1-p-fim {
    font-size: 1.5vh; /* Tamanho da fonte */
    padding: 4vh; /* Preenchimento */
    opacity: 0;
}


.pic-ctn {
    position:relative;
    width: 20%;
    margin-left: 5%;
    height: 20vh;
    margin-top: -10vh;
    margin-bottom: 20%;
    
  }

  .pic-ctn img{
    width: 15rem;
  }

  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 0px);
    opacity: 0;
    animation: display 22s infinite;
  }

  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }

  img:nth-child(6) {
    animation-delay: 10s;
  }
  img:nth-child(7) {
    animation-delay: 12s;
  }
  img:nth-child(8) {
    animation-delay: 14s;
  }
  img:nth-child(9) {
    animation-delay: 16s;
  }

  img:nth-child(10) {
    animation-delay: 18s;
  }
  img:nth-child(11) {
    animation-delay: 20s;
  }
  img:nth-child(12) {
    animation-delay: 22s;
  }

}

@media only screen and (min-width: 651px) and (max-width: 1200px){

    .topic-1 {
        width: 100%; /* Largura total do tópico 1 */
        height: 100%; /* Altura total do tópico 1 */
        margin: 0 auto;
    }
    
    /* Estilo para a segunda imagem no tópico 1 */
    .topic-1-img-02 {
        width: 40%; /* Largura da imagem em porcentagem */
        height: 40%; /* Altura da imagem em porcentagem */
        margin: 0 auto;
        margin-top: 15%;
        display: block;
    }
    
    /* Efeito ao passar o mouse na segunda imagem do tópico 1 */
    .topic-1-img-02:hover {
        transform: translateX(0%) scale(1.1); /* Move e aumenta a imagem ao passar o mouse */
    }
    
    /* Estilo para o título do tópico 1 */
    .topic-1-title {
        font-size: 5vh; /* Tamanho da fonte em porcentagem */
        text-align: center;
        margin: 0 auto;
        margin-top: 7%;
    }
    
    /* Estilo para o primeiro parágrafo do tópico 1 */
    .topic-1-paragraph-1 {
        font-size: 1.5vh; /* Tamanho da fonte em porcentagem */
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin-left: 15%;
        margin-top: 5%;
        text-align: left; /* Alinhamento do texto ao centro */
    }
    
    /* Estilo para o segundo parágrafo do tópico 1 */
    .topic-1-paragraph-2 {
        padding: 2vh; /* Preenchimento em porcentagem */
        font-size: 1.5vh; /* Tamanho da fonte em porcentagem */
        width: 80%; /* Largura do parágrafo em porcentagem */
        text-align: center; /* Alinhamento do texto ao centro */
        margin: 0 auto;
        margin-top: 5%;
        z-index: 3; /* Ordem de sobreposição */
    }
    
    /* Estilo para o título "Desenhos e Imagens" */
    .desenhos-imagens {
        font-size: 3vh; /* Tamanho da fonte em porcentagem */
        padding: 1vh; /* Preenchimento em porcentagem */
        margin: 1 auto; /* Margem */
        text-align: center; /* Alinhamento do texto ao centro */
        letter-spacing: 0; /* Espaçamento entre letras */
    }
    
    /* Estilo para o contêiner das imagens no tópico 1 */
    .topic-1-imgs {
        margin: 0 auto; /* Margem automática nas laterais */
        max-width: 90%; /* Largura máxima */
    }
    
    /* Estilo para a primeira imagem no tópico 1 */
    .topic-1-img-1 {
        width: 25%; /* Largura da imagem */
        margin: 0.1 auto;
    }
    
    /* Estilo para o parágrafo final do tópico 1 */
    .topic-1-p-fim {
        font-size: 1vh; /* Tamanho da fonte */
        width: 80%;
        padding: 0vh; /* Preenchimento */
    }

    .pic-ctn {
        position: relative;
        width: 25%;
        height: 15vh;
        margin-top: 2vh;
        margin-bottom: 20%;
        
      }
    
      .pic-ctn img{
        width:15rem;
      }
    
      .pic-ctn > img {
        position: absolute;
        top: 0;
        left: calc(50% - 0px);
        opacity: 0;
        animation: display 22s infinite;
      }
    
      img:nth-child(2) {
        animation-delay: 2s;
      }
      img:nth-child(3) {
        animation-delay: 4s;
      }
      img:nth-child(4) {
        animation-delay: 6s;
      }
      img:nth-child(5) {
        animation-delay: 8s;
      }
    
      img:nth-child(6) {
        animation-delay: 10s;
      }
      img:nth-child(7) {
        animation-delay: 12s;
      }
      img:nth-child(8) {
        animation-delay: 14s;
      }
      img:nth-child(9) {
        animation-delay: 16s;
      }
    
      img:nth-child(10) {
        animation-delay: 18s;
      }
      img:nth-child(11) {
        animation-delay: 20s;
      }
      img:nth-child(12) {
        animation-delay: 22s;
      }
}

@media only screen and (min-width: 1201px) and (max-width: 2000px){

    .topic-1 {
        width: 100%; /* Largura total do tópico 1 */
        height: 100%; /* Altura total do tópico 1 */
        margin: 0 auto;
    }
    
    /* Estilo para a segunda imagem no tópico 1 */
    .topic-1-img-02 {
        width: 20%; /* Largura da imagem em porcentagem */
        height: 30%; /* Altura da imagem em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        opacity: 0.8;
        display: block;
    }
    
    /* Efeito ao passar o mouse na segunda imagem do tópico 1 */
    .topic-1-img-02:hover {
        transform: translateX(0%) scale(1.1); /* Move e aumenta a imagem ao passar o mouse */
    }
    
    /* Estilo para o título do tópico 1 */
    .topic-1-title {
        font-size: 10vh; /* Tamanho da fonte em porcentagem */
        text-align: left;
        margin-left: 20%;
        margin-top: 5%;
    }
    
    /* Estilo para o primeiro parágrafo do tópico 1 */
    .topic-1-paragraph-1 {
        font-size: 3vh; /* Tamanho da fonte em porcentagem */
        width: 90%; /* Largura do parágrafo em porcentagem */
        margin-left: 18%;
        margin-top: 5%;

    }
    
    /* Estilo para o segundo parágrafo do tópico 1 */
    .topic-1-paragraph-2 {
        padding: 2vh; /* Preenchimento em porcentagem */
        font-size: 3vh; /* Tamanho da fonte em porcentagem */
        width: 90%; /* Largura do parágrafo em porcentagem */
        text-align: center; /* Alinhamento do texto ao centro */
        margin: 0 auto;
        margin-top: 5%;
        z-index: 3; /* Ordem de sobreposição */
    }
    
    /* Estilo para o título "Desenhos e Imagens" */
    .desenhos-imagens {
        font-size: 3vh; /* Tamanho da fonte em porcentagem */
        padding: 1vh; /* Preenchimento em porcentagem */
        margin: 1 auto; /* Margem */
        text-align: center; /* Alinhamento do texto ao centro */
        letter-spacing: 0; /* Espaçamento entre letras */
    }
    
    /* Estilo para o contêiner das imagens no tópico 1 */
    .topic-1-imgs {
        margin: 0 auto; /* Margem automática nas laterais */
        max-width: 90%; /* Largura máxima */
        transition: transform 0.2s ease-in-out;
    }
    
    /* Estilo para a primeira imagem no tópico 1 */
    .topic-1-img-1 {
        width: 10%; /* Largura da imagem */
        margin: 0.1 auto;
    }

    .topic-1-img-1:hover {
        transform: scale(1.5);
        width: 15%; /* Largura da imagem */
        margin: 0.1 auto;
    }
    
    /* Estilo para o parágrafo final do tópico 1 */
    .topic-1-p-fim {
        font-size: 2vh; /* Tamanho da fonte */
    }
}