@media only screen and (max-width: 375px){

.topic-1 {
        width: 100%; /* Largura total do tópico 1 */
        height: 100%; /* Altura total do tópico 1 */
        margin: 0 auto;
}

.topic-1-img-01 {
    width: 65%; /* Largura da imagem em porcentagem */
    height: 40%; /* Altura da imagem em porcentagem */
    margin: 0 auto;
    opacity: 0.8;
    margin-top: 5%;
    display: block;
}

/* Efeito ao passar o mouse na primeira imagem do tópico 1 */
.topic-1-img-01:hover {
    transform: translateX(0%) scale(1.2); /* Move e aumenta a imagem ao passar o mouse */
}

/* Estilo para a segunda imagem no tópico 1 */
.topic-1-img-02 {
    width: 50%; /* Largura da imagem em porcentagem */
    height: 40%; /* Altura da imagem em porcentagem */
    margin: 0 auto;
    margin-top: 10%;
    display: block;
}

/* Efeito ao passar o mouse na segunda imagem do tópico 1 */
.topic-1-img-02:hover {
    transform: translateX(0%) scale(1.1); /* Move e aumenta a imagem ao passar o mouse */
}

/* Estilo para o título do tópico 1 */
.topic-1-title {
    font-size: 5vh; /* Tamanho da fonte em porcentagem */
    text-align: center;
    margin: 0 auto;
}

/* Estilo para o primeiro parágrafo do tópico 1 */
.topic-1-paragraph-1 {
    font-size: 2vh; /* Tamanho da fonte em porcentagem */
    border-radius: 1.5px;
    width: 80%; /* Largura do parágrafo em porcentagem */
    padding: 2vh; /* Preenchimento em porcentagem */
    margin: 0 auto;
    margin-top: 5%;
    text-align: center; /* Alinhamento do texto ao centro */
}

/* Estilo para o segundo parágrafo do tópico 1 */
.topic-1-paragraph-2 {
    padding: 2vh; /* Preenchimento em porcentagem */
    font-size: 2vh; /* Tamanho da fonte em porcentagem */
    width: 80%; /* Largura do parágrafo em porcentagem */
    text-align: center; /* Alinhamento do texto ao centro */
    margin: 0 auto;
    border-radius: 1.5px;
    margin-top: 5%;
    z-index: 3; /* Ordem de sobreposição */
}

/* Estilo para o título "Desenhos e Imagens" */
.desenhos-imagens {
    font-size: 2vh; /* Tamanho da fonte em porcentagem */
    padding: 1vh; /* Preenchimento em porcentagem */
    margin: 1 auto; /* Margem */
    text-align: center; /* Alinhamento do texto ao centro */
    letter-spacing: 0; /* Espaçamento entre letras */
}

/* Estilo para o contêiner das imagens no tópico 1 */
.topic-1-imgs {
    margin: 0; /* Margem automática nas laterais */
    max-width: 100%; /* Largura máxima */
}

/* Estilo para a primeira imagem no tópico 1 */
.topic-1-img-1 {
    width: 40%; /* Largura da imagem */
    margin: 0;
}

.topic-1-img-1:hover{
    transform: scale(1.12);
    box-shadow: 1px 1px 20px 1px black;
}



/* Estilo para o parágrafo final do tópico 1 */
.topic-1-p-fim {
    font-size: 2vh; /* Tamanho da fonte */
    padding: 4vh; /* Preenchimento */
}
}

@media only screen and (min-width: 376px) and (max-width: 651px){

.topic-1 {
        width: 100%; /* Largura total do tópico 1 */
        height: 100%; /* Altura total do tópico 1 */
        margin: 0 auto;
}

.topic-1-img-01 {
    width: 50%; /* Largura da imagem em porcentagem */
    height: 39%; /* Altura da imagem em porcentagem */
    opacity: 0.8;
    margin: 0 auto;
    margin-top: 5%;
    display: block;
}

/* Efeito ao passar o mouse na primeira imagem do tópico 1 */
.topic-1-img-01:hover {
    transform: translateX(0%) scale(1.1); /* Move e aumenta a imagem ao passar o mouse */
}

/* Estilo para a segunda imagem no tópico 1 */
.topic-1-img-02 {
    width: 50%; /* Largura da imagem em porcentagem */
    height: 40%; /* Altura da imagem em porcentagem */
    margin: 0 auto;
    margin-top: 10%;
    display: block;
}

/* Efeito ao passar o mouse na segunda imagem do tópico 1 */
.topic-1-img-02:hover {
    transform: translateX(0%) scale(1.1); /* Move e aumenta a imagem ao passar o mouse */
}

/* Estilo para o título do tópico 1 */
.topic-1-title {
    font-size: 5vh; /* Tamanho da fonte em porcentagem */
    text-align: center;
    margin: 0;
}

/* Estilo para o primeiro parágrafo do tópico 1 */
.topic-1-paragraph-1 {
    font-size: 2.5vh; /* Tamanho da fonte em porcentagem */
    border-radius: 1.5px;
    width: 80%; /* Largura do parágrafo em porcentagem */
    padding: 2vh; /* Preenchimento em porcentagem */
    margin: 0 auto;
    margin-top: 5%;
    text-align: center; /* Alinhamento do texto ao centro */
}

/* Estilo para o segundo parágrafo do tópico 1 */
.topic-1-paragraph-2 {
    padding: 2vh; /* Preenchimento em porcentagem */
    font-size: 2.5vh; /* Tamanho da fonte em porcentagem */
    width: 80%; /* Largura do parágrafo em porcentagem */
    text-align: center; /* Alinhamento do texto ao centro */
    margin: 0 auto;
    border-radius: 1.5px;
    margin-top: 5%;
    z-index: 3; /* Ordem de sobreposição */
}

/* Estilo para o título "Desenhos e Imagens" */
.desenhos-imagens {
    font-size: 2vh; /* Tamanho da fonte em porcentagem */
    padding: 1vh; /* Preenchimento em porcentagem */
    margin: 1 auto; /* Margem */
    text-align: center; /* Alinhamento do texto ao centro */
    letter-spacing: 0; /* Espaçamento entre letras */
}

/* Estilo para o contêiner das imagens no tópico 1 */
.topic-1-imgs {
    margin: 0; /* Margem automática nas laterais */
    max-width: 100%; /* Largura máxima */
}

/* Estilo para a primeira imagem no tópico 1 */
.topic-1-img-1 {
    width: 45%; /* Largura da imagem */
    margin: 0.;
}

/* Estilo para o parágrafo final do tópico 1 */
.topic-1-p-fim {
    font-size: 2vh; /* Tamanho da fonte */
    padding: 4vh; /* Preenchimento */
}

}

@media only screen and (min-width: 651px) and (max-width: 1200px){

    .topic-1 {
        width: 100%; /* Largura total do tópico 1 */
        height: 100%; /* Altura total do tópico 1 */
        margin: 0 auto;
    }
    
    .topic-1-img-01 {
        width: 60%; /* Largura da imagem em porcentagem */
        height: 39%; /* Altura da imagem em porcentagem */
        margin: 0 auto;
        margin-top: 7%;
        opacity: 0.8;
        display: block;
    }
    
    /* Efeito ao passar o mouse na primeira imagem do tópico 1 */
    .topic-1-img-01:hover {
        transform: translateX(0%) scale(1.1); /* Move e aumenta a imagem ao passar o mouse */
    }
    
    /* Estilo para a segunda imagem no tópico 1 */
    .topic-1-img-02 {
        width: 50%; /* Largura da imagem em porcentagem */
        height: 40%; /* Altura da imagem em porcentagem */
        margin: 0 auto;
        margin-top: 10%;
        display: block;
    }
    
    /* Efeito ao passar o mouse na segunda imagem do tópico 1 */
    .topic-1-img-02:hover {
        transform: translateX(0%) scale(1.1); /* Move e aumenta a imagem ao passar o mouse */
    }
    
    /* Estilo para o título do tópico 1 */
    .topic-1-title {
        font-size: 7vh; /* Tamanho da fonte em porcentagem */
        text-align: center;
        margin: 0 auto;
    }
    
    /* Estilo para o primeiro parágrafo do tópico 1 */
    .topic-1-paragraph-1 {
        font-size: 3vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 80%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }
    
    /* Estilo para o segundo parágrafo do tópico 1 */
    .topic-1-paragraph-2 {
        padding: 2vh; /* Preenchimento em porcentagem */
        font-size: 3vh; /* Tamanho da fonte em porcentagem */
        width: 80%; /* Largura do parágrafo em porcentagem */
        text-align: center; /* Alinhamento do texto ao centro */
        margin: 0 auto;
        border-radius: 1.5px;
        margin-top: 5%;
        z-index: 3; /* Ordem de sobreposição */
    }
    
    /* Estilo para o título "Desenhos e Imagens" */
    .desenhos-imagens {
        font-size: 3vh; /* Tamanho da fonte em porcentagem */
        padding: 1vh; /* Preenchimento em porcentagem */
        margin: 1 auto; /* Margem */
        text-align: center; /* Alinhamento do texto ao centro */
        letter-spacing: 0; /* Espaçamento entre letras */
    }
    
    /* Estilo para o contêiner das imagens no tópico 1 */
    .topic-1-imgs {
        margin: 0 auto; /* Margem automática nas laterais */
        max-width: 90%; /* Largura máxima */
    }
    
    /* Estilo para a primeira imagem no tópico 1 */
    .topic-1-img-1 {
        width: 25%; /* Largura da imagem */
        margin: 0.1 auto;
    }
    
    /* Estilo para o parágrafo final do tópico 1 */
    .topic-1-p-fim {
        font-size: 2vh; /* Tamanho da fonte */
        padding: 4vh; /* Preenchimento */
    }
}

@media only screen and (min-width: 1201px) and (max-width: 2000px){

    .topic-1 {
        width: 100%; /* Largura total do tópico 1 */
        height: 100%; /* Altura total do tópico 1 */
        margin: 0 auto;
    }
    
    .topic-1-img-01 {
        width: 35%; /* Largura da imagem em porcentagem */
        height: 39%; /* Altura da imagem em porcentagem */
        margin: 0 auto;
        margin-top: 2%;
        display: block;
    }
    
    /* Efeito ao passar o mouse na primeira imagem do tópico 1 */
    .topic-1-img-01:hover {
        transform: translateX(0%) scale(1.1); /* Move e aumenta a imagem ao passar o mouse */
    }
    
    /* Estilo para a segunda imagem no tópico 1 */
    .topic-1-img-02 {
        width: 30%; /* Largura da imagem em porcentagem */
        height: 40%; /* Altura da imagem em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        opacity: 0.8;
        display: block;
    }
    
    /* Efeito ao passar o mouse na segunda imagem do tópico 1 */
    .topic-1-img-02:hover {
        transform: translateX(0%) scale(1.1); /* Move e aumenta a imagem ao passar o mouse */
    }
    
    /* Estilo para o título do tópico 1 */
    .topic-1-title {
        font-size: 7vh; /* Tamanho da fonte em porcentagem */
        text-align: center;
        margin: 0 auto;
        margin-top: 0%;
    }
    
    /* Estilo para o primeiro parágrafo do tópico 1 */
    .topic-1-paragraph-1 {
        font-size: 3vh; /* Tamanho da fonte em porcentagem */
        border-radius: 1.5px;
        width: 90%; /* Largura do parágrafo em porcentagem */
        padding: 2vh; /* Preenchimento em porcentagem */
        margin: 0 auto;
        margin-top: 5%;
        text-align: center; /* Alinhamento do texto ao centro */
    }
    
    /* Estilo para o segundo parágrafo do tópico 1 */
    .topic-1-paragraph-2 {
        padding: 2vh; /* Preenchimento em porcentagem */
        font-size: 3vh; /* Tamanho da fonte em porcentagem */
        width: 90%; /* Largura do parágrafo em porcentagem */
        text-align: center; /* Alinhamento do texto ao centro */
        margin: 0 auto;
        border-radius: 1.5px;
        margin-top: 5%;
        z-index: 3; /* Ordem de sobreposição */
    }
    
    /* Estilo para o título "Desenhos e Imagens" */
    .desenhos-imagens {
        font-size: 3vh; /* Tamanho da fonte em porcentagem */
        padding: 1vh; /* Preenchimento em porcentagem */
        margin: 1 auto; /* Margem */
        text-align: center; /* Alinhamento do texto ao centro */
        letter-spacing: 0; /* Espaçamento entre letras */
    }
    
    /* Estilo para o contêiner das imagens no tópico 1 */
    .topic-1-imgs {
        margin: 0 auto; /* Margem automática nas laterais */
        max-width: 90%; /* Largura máxima */
        transition: transform 0.2s ease-in-out;
    }
    
    /* Estilo para a primeira imagem no tópico 1 */
    .topic-1-img-1 {
        width: 15%; /* Largura da imagem */
        margin: 0.1 auto;
    }

    .topic-1-img-1:hover {
        transform: scale(1.5);
        width: 15%; /* Largura da imagem */
        margin: 0.1 auto;
    }
    
    /* Estilo para o parágrafo final do tópico 1 */
    .topic-1-p-fim {
        font-size: 2vh; /* Tamanho da fonte */
        padding: 4vh; /* Preenchimento */
    }
}