
.sidebar {
    width: 10px;
    height: 60%;
    background-color: transparent;
    background: #e2eaf6;
    border-radius: 0px 5px 5px 0px;
    z-index: 1000;
    margin-top: 10%;
    transition: width 0.3s;
    position: fixed; /* Torna a barra lateral fixa */
    overflow: hidden; /* Oculta os itens quando a largura é reduzida */
}

.sidebar:hover {
    width: 120px; /* Ajuste a largura conforme necessário */
    border-radius: 0px 15px 15px 0px;
    box-shadow: 1px 1px 10px 1px black;
}

.sidebar a {
    text-decoration: none;
    color: #011b36;
    display: none; /* Inicialmente oculta os itens */
    flex-direction: column;
    font-size: 0.7rem;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    
}

.sidebar:hover a {
    display: flex; /* Mostra os itens quando .sidebar está em :hover */
   
}

.links {
    display: flex;
    margin: 10% auto;
    align-items: center;
    text-align: center;
}

.links a {
    margin: 15px;
    text-decoration: none;
    font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
    font-size: 0.5rem;
    padding: 0.2rem;
    font-weight: 600;
    color: black;
    font-style: bold;
}

i {
    font-size: 1.0rem;
    text-align: center;
    border-radius: 50%;
    padding: 1rem;
    transition: transform 0.1s ease-in-out;
    color: #011b36;
}

i:hover {
    color: #e2eaf6;
    transform: scale(1.2) translateY(-8px);
    background: #011b36;
}





@media only screen and (max-width: 320px){
    .sidebar {
        width: 10%;
        height: 5%;
        background-color: transparent;
        background: #e2eaf6;
        border-radius: 50%;
        z-index: 1000;
        margin-top: 15%;
        margin-left: 5%;
        transition: width 0.2s ease-in-out;
        position: fixed; /* Torna a barra lateral fixa */
        overflow: hidden; /* Oculta os itens quando a largura é reduzida */
    }
    
    .sidebar:hover {
        width: 70px;
        height: 68vh; /* Ajuste a largura conforme necessário */
        border-radius:5px;
        box-shadow: 1px 1px 10px 1px black;
    }
    
    .sidebar a {
        text-decoration: none;
        color: #011b36;
        display: none; /* Inicialmente oculta os itens */
        flex-direction: column;
        font-size: 0.4rem;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        
    }
    
    .sidebar:hover a {
        display: flex; /* Mostra os itens quando .sidebar está em :hover */
       
    }
    
    .links {
        display: flex;
        margin: 5% auto;
        align-items: center;
        text-align: center;
    }
    
    .links a {
        margin: 15px;
        text-decoration: none;
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        font-size: 0.5rem;
        padding: 0.2rem;
        font-weight: 600;
        color: black;
        font-style: bold;
    }
    
    i {
        font-size: 0.7rem;
        text-align: center;
        border-radius: 50%;
        padding: 1rem;
        transition: transform 0.1s ease-in-out;
        color: #011b36;
    }
    
    i:hover {
        color: black;
        transform: scale(1.1) translateY(0px);
        background: none;
    }
}





@media only screen and (min-width: 321px) and (max-width: 480px){
    .sidebar {
        width: 10%;
        height: 5%;
        background-color: transparent;
        background: #e2eaf6;
        border-radius: 50%;
        z-index: 1000;
        margin-top: 15%;
        margin-left: 5%;
        transition: width 0.2s ease-in-out;
        position: fixed; /* Torna a barra lateral fixa */
        overflow: hidden; /* Oculta os itens quando a largura é reduzida */
    }
    
    .sidebar:hover {
        width: 80px;
        height: 55vh; /* Ajuste a largura conforme necessário */
        border-radius:5px;
        box-shadow: 1px 1px 10px 1px black;
    }
    
    .sidebar a {
        text-decoration: none;
        color: #011b36;
        display: none; /* Inicialmente oculta os itens */
        flex-direction: column;
        font-size: 0.5rem;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        
    }
    
    .sidebar:hover a {
        display: flex; /* Mostra os itens quando .sidebar está em :hover */
       
    }
    
    .links {
        display: flex;
        margin: 5% auto;
        align-items: center;
        text-align: center;
    }
    
    .links a {
        margin: 15px;
        text-decoration: none;
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        font-size: 0.6rem;
        padding: 0.2rem;
        font-weight: 600;
        color: black;
        font-style: bold;
    }
    
    i {
        font-size: 0.8rem;
        text-align: center;
        border-radius: 50%;
        padding: 1rem;
        transition: transform 0.1s ease-in-out;
        color: #011b36;
    }
    
    i:hover {
        color: black;
        transform: scale(1.1) translateY(0px);
        background: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 720px){
    .sidebar {
        width: 7%;
        height: 5%;
        background-color: transparent;
        background: #e2eaf6;
        border-radius: 50%;
        z-index: 1000;
        margin-top: 15%;
        margin-left: 5%;
        transition: width 0.2s ease-in-out;
        position: fixed; /* Torna a barra lateral fixa */
        overflow: hidden; /* Oculta os itens quando a largura é reduzida */
    }
    
    .sidebar:hover {
        width: 90px;
        height: 52vh; /* Ajuste a largura conforme necessário */
        border-radius:5px;
        box-shadow: 1px 1px 10px 1px black;
    }
    
    .sidebar a {
        text-decoration: none;
        color: #011b36;
        display: none; /* Inicialmente oculta os itens */
        flex-direction: column;
        font-size: 0.6rem;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        
    }
    
    .sidebar:hover a {
        display: flex; /* Mostra os itens quando .sidebar está em :hover */
       
    }
    
    .links {
        display: flex;
        margin: 5% auto;
        align-items: center;
        text-align: center;
    }
    
    .links a {
        margin: 15px;
        text-decoration: none;
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        font-size: 0.6rem;
        padding: 0.2rem;
        font-weight: 600;
        color: black;
        font-style: bold;
    }
    
    i {
        font-size: 0.8rem;
        text-align: center;
        border-radius: 50%;
        padding: 1rem;
        transition: transform 0.1s ease-in-out;
        color: #011b36;
    }
    
    i:hover {
        color: black;
        transform: scale(1.1) translateY(0px);
        background: none;
    }
}

@media only screen and (min-width: 721px) and (max-width: 1260px){
    .sidebar {
        width: 7%;
        height: 5%;
        background-color: transparent;
        background: #e2eaf6;
        border-radius: 50%;
        z-index: 1000;
        margin-top: 15%;
        margin-left: 5%;
        transition: width 0.2s ease-in-out;
        position: fixed; /* Torna a barra lateral fixa */
        overflow: hidden; /* Oculta os itens quando a largura é reduzida */
    }
    
    .sidebar:hover {
        width: 160px;
        height: 45vh; /* Ajuste a largura conforme necessário */
        border-radius:5px;
        box-shadow: 1px 1px 10px 1px black;
    }
    
    .sidebar a {
        text-decoration: none;
        color: #011b36;
        display: none; /* Inicialmente oculta os itens */
        flex-direction: column;
        font-size: 1rem;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        
    }
    
    .sidebar:hover a {
        display: flex; /* Mostra os itens quando .sidebar está em :hover */
       
    }
    
    .links {
        display: flex;
        margin: 10% auto;
        align-items: center;
        text-align: center;
    }
    
    .links a {
        margin: 30px;
        text-decoration: none;
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        font-size: 0.8rem;
        padding: 0.2rem;
        font-weight: 600;
        color: black;
        font-style: bold;
    }
    
    i {
        font-size: 1.3rem;
        text-align: center;
        border-radius: 50%;
        padding: 1.5rem;
        transition: transform 0.1s ease-in-out;
        color: #011b36;
    }
    
    i:hover {
        color: black;
        transform: scale(1.1) translateY(0px);
        background: none;
    }
}

@media only screen and (min-width: 1261px) and (max-width: 2260px){
    .sidebar {
        width: 10px;
        height: 60%;
        background-color: transparent;
        background: #e2eaf6;
        border-radius: 0px 5px 5px 0px;
        z-index: 1000;
        margin-top: 10%;
        transition: width 0.3s;
        position: fixed; /* Torna a barra lateral fixa */
    }
    
    .sidebar:hover {
        width: 120px; /* Ajuste a largura conforme necessário */
        border-radius: 0px 15px 15px 0px;
        box-shadow: 1px 1px 10px 1px black;
    }
    
    .sidebar a {
        text-decoration: none;
        color: #011b36;
        display: none; /* Inicialmente oculta os itens */
        flex-direction: column;
        font-size: 0.7rem;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        
    }
    
    .sidebar:hover a {
        display: flex; /* Mostra os itens quando .sidebar está em :hover */
       
    }
    
    .links {
        display: flex;
        margin: 10% auto;
        align-items: center;
        text-align: center;
    }
    
    .links a {
        margin: 15px;
        text-decoration: none;
        font-family: 'Baloo 2', sans-serif; /* Fonte do parágrafo */
        font-size: 0.5rem;
        padding: 0.2rem;
        font-weight: 600;
        color: black;
        font-style: bold;
    }
    
    i {
        font-size: 1.0rem;
        text-align: center;
        border-radius: 50%;
        padding: 1rem;
        transition: transform 0.1s ease-in-out;
        color: #011b36;
    }
    
    i:hover {
        color: #e2eaf6;
        transform: scale(1.2) translateY(-8px);
        background: #011b36;
    }
    
}